<template>
    <div class="container settings_page middle_content">
        <div class="row" v-if="loadedProject">
            <div class="col s12">
                <h2>Project Detail</h2>
                <div class="col s4">
                    <div class="media">
                        <a class="pull-left" href="" target="_blank">
                            <img class="media-object" v-bind:src="project.customer.avatar" width="75px" style="padding-right: 10px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ project.customer.name }}</h4>
                            <p>last activity:
                                <span>21:17 04.09.16</span>
                            </p>
                        </div>
                        <div>
                            <h3>Files</h3>
                            <p v-for="file in project.media"><a href="{{file.url}}">{{file.name}}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col s8">
                    <div class="well well-small" style="word-wrap: break-word; overflow: hidden">
                        <div class="readmore">
                            <h4 class="proj_title">{{ project.title }}</h4>

                            <!-- Информация о проекте -->
                            <ul class="unstyled list-unstyled">
                                <li>
                                    <strong>Status:</strong> <span class="ws-project-status-name">{{ project.status }}</span>
                                </li>
                                <li>
                                    <strong>Deadline:</strong> <span>{{ project.deadline }}</span>
                                </li>
                                <li>
                                    <strong>Price:</strong> <span class="ws-project-info-cost">{{ project.price }} $</span>
                                </li>
                            </ul>
                            <p>
                                <strong>Description:</strong>
                                <br>
                                <span class="ws-project-info-description">{{ project.description }}</span>
                            </p>

                            <p><strong>Candidates:</strong><span class="ws-project-info-must"> {{ project.candidates_count }}</span></p>

                            <div class="row col s12" v-if="project.customer.id == user.id">
                                <div class="col s2" v-for="brandroom in project.candidates">
                                    <a class="repo" href="chyna-jenkins" >
                                        <div class="author_photo"><img src="../img/author1.jpg" alt=""></div>
                                        <p class="author_name">{{ brandroom.title }}</p>
                                    </a>
                                    <button class="waves-effect waves-light btn" @click="selectCandidate(brandroom)">+</button>
                                </div>
                            </div>
                            <p>
                                <a class="waves-effect waves-light btn green" v-if="canApproveProject" @click="approveProject(project)">Approve Project</a>
                                <a class="waves-effect waves-light btn green" v-if="canApplyProject" @click="applyProject(project)">Apply Project</a>
                                <a class="waves-effect waves-light btn light-green" v-if="project.applied" @click="cancelApplyProject(project)">Cancel Bid</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Auth from '../../../auth'
    import Config from '../../../config'
    import Project from '../../../mixins/project.vue'

    export default {
        data() {
            return {
                user: Auth.getCurrentUser(),
                project: {},
                loadedProject: false
            }
        },
        computed: {
            isBrandroom() {
                return this.user.brandroom.id == this.project.workspace.brandroom_id
            },
            canApproveProject() {
                return this.project.status == 'personal' && this.isBrandroom
            },
            canApplyProject() {
                return !this.project.applied && this.user.id != this.project.customer.id && !this.canApproveProject
            },
            isCompletedProject() {
                return this.project.status == 'completed'
            },
            canViewProject() {
                return this.project.status == 'open' ||
                        this.user.id == this.project.customer.id ||
                        this.user.brandroom.id == this.project.workspace.brandroom_id
            }
        },
        route: {
            activate ({ next }) {
                this.getProject().then((project) => {
                    if(!this.canViewProject) {
                        this.$route.router.go('/404')
                    }
                })
                next()
            }
        },
        mixins: [Project],
        methods: {
            getProject(){
                return new Promise((resolved, reject)=> {
                    this.$http.get('projects/' + this.$route.params.id).then((response) => {
                        this.project = response.data.project
                        this.loadedProject = true
                        resolved(this.project)
                    }, (err) => {
                        reject()
                    });
                })
            },
            selectCandidate(brandroom) {
                this.$http.post('projects/' + this.$route.params.id + '/select-candidate/' + brandroom.id).then((response) => {
                    this.$route.router.go('/workspaces/' + response.data.workspace.id);
                });
            },
        },
        components: {

        },
        ready() {
            $('ul.tabs').tabs()
        }
    }
</script>
