<template>
    <div class="container settings_page middle_content">
        <div class="row">
            <div class="col s12">
                <h2 class="left">My Projects</h2>
                <a v-link="{name: 'projects-create'}"class="waves-effect waves-light btn right">Create Project</a>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs row">
                            <li class="tab col s3"><a class="open" href="#open" @click="getOpenProjects">Open</a></li>
                            <li class="tab col s3"><a href="#personal" @click="getPersonalProjects">Personal</a></li>
                            <li class="tab col s3"><a href="#in-progress" @click="getInPorgressProjects">In progress</a></li>
                            <li class="tab col s3"><a href="#completed" @click="getCompletedProjects">Сompleted</a></li>
                        </ul>
                    </div>
                    <div id="open" class="col s12" v-if="status == 'open'">
                        <div class="switch">
                            <label>
                                All
                                <input type="checkbox">
                                <span class="lever"></span>
                                Show Recommendations
                            </label>
                        </div>
                        <table class="highlight bordered responsive-table">
                            <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="user">Customer</th>
                                <th data-field="price">Price</th>
                                <th data-field="price">Candidates</th>
                                <th data-field="price">Deadline</th>
                                <th data-field="actions"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="project in projects">
                                <td><a v-link="{path: '/projects/' + project.id}">{{ project.title }}</a></td>
                                <td>{{ project.customer.name }}</td>
                                <td>{{ project.price }} $</td>
                                <td>{{ project.candidates_count }}</td>
                                <td>{{ project.deadline }}</td>
                                <td>
                                    <a class="waves-effect waves-light btn red" @click="deleteProject(project)">Delete</a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div id="personal" class="col s12" v-if="status == 'personal'">
                        <table>
                            <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="user">Brandroom</th>
                                <th data-field="price">Price</th>
                                <th data-field="price">Deadline</th>
                                <th data-field="actions"></th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr v-for="project in projects">
                                <td><a v-link="{path: '/projects/' + project.id}">{{ project.title }}</a></td>
                                <td>{{ project.brandroom.name || 'N/A' }}</td>
                                <td>{{ project.price }} $</td>
                                <td>{{ project.deadline }}</td>
                                <td>
                                    <a class="waves-effect waves-light btn green" v-if="project.brandroom.id"
                                       @click="cancelProposeProject(project)">Cancel</a>
                                    <div class="follow btn modal-trigger grey lighten-4 blue-text text-darken-3"
                                         v-if="!project.brandroom.id" @click="getBrandroom(project)">
                                        Select Brandroom
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="in-progress" class="col s12" v-if="status == 'in-progress'">
                        <table>
                            <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="user">Customer</th>
                                <th data-field="price">Price</th>
                                <th data-field="price">Deadline</th>
                                <th data-field="actions"></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="project in projects">
                                <td><a v-link="{path: '/projects/' + project.id}">{{ project.title }}</a></td>
                                <td>{{ project.customer.name }}</td>
                                <td>{{ project.price }} $</td>
                                <td>{{ project.deadline }}</td>
                                <td>
                                    <a v-link="{path: '/workspaces/' + project.workspace.id}"
                                       class="waves-effect waves-light btn">Workspace</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="completed" class="col s12" v-if="status == 'completed'">
                        <table>
                            <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="user">Customer</th>
                                <th data-field="price">Price</th>
                                <th data-field="price">Deadline</th>
                                <th data-field="actions"></th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr v-for="project in projects">
                                <td><a v-link="{path: '/projects/' + project.id}">{{ project.title }}</a></td>
                                <td><a href="">{{ project.customer.name }}</a></td>
                                <td>{{ project.price }} $</td>
                                <td>{{ project.deadline }}</td>
                                <td>
                                    <a v-link="{path: '/workspaces/' + project.workspace.id + '/user'}"
                                       class="waves-effect waves-light btn">Workspace</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="select_brandroom" class="modal">
        <a href="#!" class="modal-action modal-close btn-close"><i class="fa fa-times" aria-hidden="true"></i></a>
        <div class="modal-content">
            <h3>Select brandroom</h3>
            <div class="row">
                <div class="col s12">
                    <div class="storage_item col s3" v-for="brandroom in brandrooms">
                        <div class="storage_logo">
                            <img class="responsive-img" v-bind:src="brandroom.logo" alt="logo">
                        </div>
                        <div class="storage_name">{{ brandroom.name }}</div>
                        <div class="btn" @click="proposeProject(brandroom)">Propose</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Auth from '../../../auth'
    export default{
        data(){
            return{
                user: Auth.getCurrentUser(),
                projects: [],
                status: 'open',
                brandrooms: [],
                proposedProject: {}
            }
        },
        methods:{
            getOpenProjects(){
                this.$http.get('profile/projects').then((response) => {
                    this.status = 'open'
                    this.projects = response.data.projects
                });
            },
            getPersonalProjects(){
                this.$http.get('profile/projects/personal').then((response) => {
                    this.status = 'personal'
                    this.projects = response.data.projects
                });
            },
            getInPorgressProjects(){
                this.$http.get('profile/projects/in-progress').then((response) => {
                    this.status = 'in-progress'
                    this.projects = response.data.projects
                });
            },
            getCompletedProjects(){
                this.$http.get('profile/projects/completed').then((response) => {
                    this.status = 'completed'
                    this.projects = response.data.projects
                });
            },
            proposeProject(brandroom) {
                this.$http.post('projects/' + this.proposedProject.id + '/propose/' + brandroom.id).then((response) => {
                    this.getPersonalProjects()
                    $('#select_brandroom').closeModal()
                })
            },
            cancelProposeProject(project) {
                this.$http.post('projects/' + project.id + '/cancel-propose').then((response) => {
                    this.getPersonalProjects()
                    $('#select_brandroom').closeModal()
                })
            },
            deleteProject(project) {
                this.$http.delete('projects/' + project.id).then((response) => {
                    this.projects.$remove(project)
                })
            },
            getBrandroom(project) {
                this.proposedProject = project
                $('#select_brandroom').openModal()
                this.$http.get('brandrooms').then((response) => {
                    this.brandrooms = response.data.brandrooms;
                })
            }
        },
        components:{

        },
        ready() {
            this.getOpenProjects()
            $('ul.tabs').tabs()
        }
    }
</script>
