<template>
    <div class="timeline_item">
        <div class="timeline_icon blue"><i class="fa fa-newspaper-o"></i></div>
        <div class="timeline_header">
            <span class="time right"><i class="fa fa-clock-o"></i> {{ activity.created_at }}</span>
            <h5><a href="#">{{ activity.brandroom.name }}</a></h5>
        </div>
        <div class="timeline_body">
            {{ activity.feedable.news }}
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                msg:'hello vue'
            }
        },
        props: ['activity'],
        components: {}
    }
</script>
