<template>
    <div class="timeline_item">
        <div class="timeline_icon green"><i class="fa fa-comments"></i></div>
        <div class="timeline_header">
            <span class="time right"><i class="fa fa-clock-o"></i> {{ activity.created_at }}</span>
            <h5><a href="#">{{ activity.brandroom.name }}</a> commented</h5>
        </div>
        <div class="timeline_body">
            {{ activity.feedable.text }}
        </div>
    </div>
</template>

<script>
    export default{
        data() {
            return {
            }
        },
        props: ['activity'],
        components: {}
    }
</script>
