<template>
    <form class="from_comment" @submit.prevent="createComment" method="post" v-if="auth">
        <div class="row leave_comment">
            <div class="input-field col s12">
                <input type="hidden" name="type" value="{{ type }}">
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="parent" v-model="comment.parent">
                <textarea id="comment_text" v-model="comment.text"  class="materialize-textarea"></textarea>
                <label v-bind:class="{'active': comment.text}" for="comment_text">Enter message</label>
                <button class="btn-flat  send_comment waves-effect" type="submit"><i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </form>
    <div class="comment" v-for="comment in comments">
        <a href="#" class="author_comment">
            <span><img :src="comment.user.avatar"></span>
            {{ comment.user.name }}
        </a>
        <span class="a_label" v-if="author(comment)">author</span>
        <p class="comment_text">
            <template v-if="comment.parent">
                <a href="#{{ comment.parent_id }}">{{ comment.parent.user.name }}</a>,
            </template>
            {{{ comment.text }}}</p>
        <p>
            <a href="#" @click.prevent="deleteComment(comment)" v-if="myComment(comment)">Delete</a>
            <a href="#comment-{{ comment.id }}" @click.prevent="replyComment(comment)">Reply</a>
        </p>
        <span class="comment_time"><i class="fa fa-clock-o"></i>{{ comment.created_at | moment "from" "now" }}</span>
        <div id="comment-{{ comment.id }}"></div>
    </div>

</template>

<script>
    import Comment from '../../../../mixins/comments.vue'
    import bus from '../../../../bus'

    export default{
        data(){
            return{
            }
        },
        props: ['brandroom'],
        computed: {
        },
        mixins: [Comment],
        methods: {
            author(comment) {
                return 4 == comment.user_id ;
            },
        },
        created() {
        }
    }
</script>