<template>
</template>

<style>
</style>

<script>
    export default {
        twoWay: true,
        bind() {
            var self = this;
            $(this.el).on('change', function () {
                self.set($(self.el).val());
            });
        },
        update(newValue, oldValue) {
            $(this.el).val(newValue);
        },
    }
</script>