<template>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Download</h2>
                <div class="downloads">
                    <div class="product row">
                        <div class="col s1">
                            <span class="icon color_effects"><i class="icon-effects"></i></span>
                        </div>
                        <div class="date col s1 center-align">12/11/15</br>13:12</div>
                        <a href="#" class="photo col s2 center-align">
                            <img src="../img/logo.png" alt="logo">
                            <div class="name">Storage 1</div>
                        </a>
                        <a href="#" class="product_name col s3">The best product in the world</a>
                        <div class="col s2 center">
                            <div class="btn-floating"><i class="material-icons">send</i></div>
                        </div>
                        <div class="buttons col s2">
                            <div class="btn">Download</div>
                            <ul class="rating">
                                <li><a href="#"><i class="material-icons rate_one">cloud</i><span>1</span></a></li>
                                <li><a href="#"><i class="material-icons rate_two">cloud</i><span>2</span></a></li>
                                <li><a href="#"><i class="material-icons rate_three">cloud</i><span>3</span></a></li>
                                <li><a href="#"><i class="material-icons rate_four">cloud</i><span>4</span></a></li>
                                <li><a href="#"><i class="material-icons rate_fife">cloud</i><span>5</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product row">
                        <div class="col s1">
                            <span class="icon color_templates"><i class="icon-templates"></i></span>
                        </div>
                        <div class="date col s1 center-align">12/11/15</br>13:12</div>
                        <a href="#" class="photo col s2 center-align">
                            <img src="../img/logo.png" alt="logo">
                            <div class="name">Storage 1</div>
                        </a>
                        <a href="#" class="product_name col s3">The best product in the world</a>
                        <div class="col s2 center">
                            <div class="btn-floating"><i class="material-icons">send</i></div>
                        </div>
                        <div class="buttons col s2">
                            <div class="btn">Download</div>
                            <ul class="rating">
                                <li><a href="#"><i class="material-icons rate_one">cloud</i><span>1</span></a></li>
                                <li><a href="#"><i class="material-icons rate_two">cloud</i><span>2</span></a></li>
                                <li><a href="#"><i class="material-icons rate_three">cloud</i><span>3</span></a></li>
                                <li><a href="#"><i class="material-icons rate_four">cloud</i><span>4</span></a></li>
                                <li><a href="#"><i class="material-icons rate_fife">cloud</i><span>5</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product row">
                        <div class="col s1">
                            <span class="icon color_audiobooks"><i class="icon-audiobooks"></i></span>
                        </div>
                        <div class="date col s1 center-align">12/11/15</br>13:12</div>
                        <a href="#" class="photo col s2 center-align">
                            <img src="../img/logo.png" alt="logo">
                            <div class="name">Storage 1</div>
                        </a>
                        <a href="#" class="product_name col s3">The best product in the world</a>
                        <div class="col s2 center">
                            <div class="btn-floating"><i class="material-icons">send</i></div>
                        </div>
                        <div class="buttons col s2">
                            <div class="btn">Download</div>
                            <ul class="rating">
                                <li><a href="#"><i class="material-icons rate_one">cloud</i><span>1</span></a></li>
                                <li><a href="#"><i class="material-icons rate_two">cloud</i><span>2</span></a></li>
                                <li><a href="#"><i class="material-icons rate_three">cloud</i><span>3</span></a></li>
                                <li><a href="#"><i class="material-icons rate_four">cloud</i><span>4</span></a></li>
                                <li><a href="#"><i class="material-icons rate_fife">cloud</i><span>5</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        data(){
            return{

            }
        },
        components:{

        }
    }
</script>
