<template>
    <span class="col left dropdown-button" href="#" data-activates="notifications">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span class="label label-primary">{{ notifications.length }}</span>
    </span>
    <ul id="notifications" class="dropdown-content" >
        <template v-for="notification in notifications">
            <create-comment :notification="notification" v-if="notification.activity == 'create-comment'"></create-comment>
            <reply-comment :notification="notification"  v-if="notification.activity == 'reply-comment'"></reply-comment>
            <apply-project :notification="notification"  v-if="notification.activity == 'apply-project'"></apply-project>
            <approve-project :notification="notification"  v-if="notification.activity == 'approve-project'"></approve-project>
            <cancel-apply-project :notification="notification"  v-if="notification.activity == 'cancel-apply-project'"></cancel-apply-project>
            <decline-project :notification="notification"  v-if="notification.activity == 'decline-project'"></decline-project>
            <create-personal-project :notification="notification"  v-if="notification.activity == 'create-personal-project'"></create-personal-project>
            <li class="divider"></li>
        </template>
    </ul>
</template>
<style>
    #notifications {
        width: 300px !important;
    }
    .dropdown-button {
        cursor: pointer;
    }
</style>
<script>

    import CreateComment from './activities/create-comment.vue'
    import ReplyComment from './activities/reply-comment.vue'
    import ApplyProject from './activities/apply-project.vue'
    import ApproveProject from './activities/approve-project.vue'
    import CancelApplyProject from './activities/cancel-apply-project.vue'
    import DeclineProject from './activities/decline-project.vue'
    import CreatePersonalProject from './activities/create-personal-project.vue'

    export default {
        data() {
            return {
                notifications: []
            }
        },
        methods: {
            getNotifications() {
                this.$http.get('users/me/notifications').then((response) => {
                    this.notifications = response.data.notifications
                }, (err) => {
                    console.log(err)
                })
            }
        },
        components: {CreateComment, ReplyComment, ApplyProject, DeclineProject, CreatePersonalProject, CancelApplyProject, ApproveProject},
        ready() {
            this.getNotifications()
            socket.on('notification', (data) => {
                this.notifications.push(JSON.parse(data))
            });
            $('.dropdown-button').dropdown()
        }
    }
</script>
