<template>
    <form method="post" id="update_form" @submit.prevent="onSubmit">
        <div v-for="attribute in attributes">
            <div class="row prop">
                <div class="col s4">
                    <h4>Title</h4></br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quos quo, veniam velit ducimus.
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="title" id="title" value="{{product.title}}">
                            <label for="title">Title</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row prop">
                <div class="col s4">
                    <h4>Description</h4></br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus tempore, facere nihil voluptates explicabo?
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="description" id="description" class="materialize-textarea">{{product.description}}</textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row prop" v-if="attribute.type.name == 'text'">
                <div class="col s4">
                    <h4>{{ attribute.title  }}</h4></br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quos quo, veniam velit ducimus.
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text"
                                   class="validate"
                                   name="attr[{{ attribute.id }}][]"
                                   id="{{ attribute.id }}"
                                   v-bind:value="selectedOption(attribute.id, option.id, attribute.type.name)"/>
                            <label for="{{ attribute.id }}">{{ attribute.title  }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row prop" v-if="attribute.type.name == 'selectbox'">
                <div class="col s4">
                    <h4>{{ attribute.title  }}</h4></br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, error. Itaque vero quo voluptatibus.
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="attr[{{ attribute.id }}][]">
                                <option value="" disabled>Choose your option</option>
                                <option value="{{ option.id }}"
                                        v-bind:selected="selectedOption(attribute.id, option.id, attribute.type.name)"
                                        v-for="option in attribute.options">{{ option.value }}</option>
                            </select>
                            <label>{{ attribute.title }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row prop"  v-if="attribute.type.name == 'checkbox'">
                <div class="col s4">
                    <h4>{{ attribute.title  }}</h4></br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quae enim odit consectetur eos.
                </div>
                <div class="col s8">
                    <p class="row">
                    <span class="col" v-for="option in attribute.options">
                        <input type="checkbox"
                               name="attr[{{ attribute.id }}][]"
                               value="{{ option.id }}"
                               id="attr-{{ attribute.id }}-{{ option.id }}"
                               v-bind:checked="selectedOption(attribute.id, option.id, attribute.type.name)" />
                        <label for="attr-{{ attribute.id }}-{{ option.id }}">{{ option.value }}</label>
                    </span>
                    </p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row prop"  v-if="attribute.type.name == 'radio'">
                <div class="col s4">
                    <h4>{{ attribute.title  }}</h4></br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quae enim odit consectetur eos.
                </div>
                <div class="col s8">
                    <p class="row">
                        <span class="col" v-for="option in attribute.options">
                            <input type="radio"
                                   name="attr[{{ attribute.id }}][]"
                                   value="option.id"
                                   v-bind:checked="selectedOption(attribute.id, option.id, attribute.type.name)"/>
                            <label>{{ option.value }}</label>
                        </span>
                    </p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row prop">
                <button class="btn waves-effect right">Save</button>
            </div>
        </div>
    </form>
</template>

<script>
    import Select from '../../../directives/select.vue';
    export default{
        data(){
            return{
                attributes: {}
            }
        },
        methods:{
            selectedOption(attribute_id, option_id, type){
                var option = this.product.attributes.find((attr) => {
                    if(attr.id == attribute_id){
                        return attr.options.find((val) => {
                            return val.id == option_id
                        });
                    }else{
                        return {};
                    }
                });
                if(option !== undefined && option.hasOwnProperty("id")){
                    switch(type) {
                        case 'selectbox':
                            return 'selected';
                        case 'checkbox':
                            return 'checked';
                        case 'radio':
                            return 'checked';
                        case 'text':
                            return 'value';// how see text value? they in option table?
                        default:
                            return false;
                    }
                }
                return false;
            },
            getAttribute(){
                this.$http.get('categories/' + this.product.category_id + '/attributes').then((response) => {
                    this.attributes = response.data.data.attributes;
                    this.$nextTick(() => {
                        initStyleElements();
                    });
                });
            },
            onSubmit: function () {
                var prod = $("#update_form").serializeJSON();
                this.$http.post('products/' + this.$route.params.uuid + '/update', prod).then((response) => {
                    this.$route.router.go('/brandroom/products');
                });
            }
        },
        props: ['product'],
        directives: { Select },
        ready() {
            this.getAttribute();
        }
    }
</script>
