<template>
    <div>
        <form method="post" id="update_price_form" @submit.prevent="onSubmitPrice">
            <div class="row prop">
                <div class="col s4">
                    <h4>Price</h4></br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quos quo, veniam velit ducimus.
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="price" id="price" value="{{product.price}}">
                            <label for="title">Price</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row prop">
                <button class="btn waves-effect right">Change price</button>
            </div>
        </form>
    </div>
</template>

<script>

    export default{
        data(){
            return{
            }
        },
        methods:{
            onSubmitPrice: function () {
                var prod = $("#update_price_form").serializeJSON();
                this.$http.post('products/' + this.$route.params.uuid + '/update', prod).then((response) => {
                    this.$route.router.go('/brandroom/products');
            });
            }
        },
        components:{},
        props: ['product']
    }
</script>
