<template>
    <div class="product_prop col s12">
        <div class="row prop">
            <div class="row">
                <h3>Update product</h3>
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#test1">General</a></li>
                        <li class="tab col s3"><a href="#test2">Price</a></li>
                        <li class="tab col s3"><a href="#test3">Preview</a></li>
                        <li class="tab col s3 disabled"><a href="#test4">New Version</a></li>
                    </ul>
                </div>
                <div id="test1" class="col s12"><attributes v-if="product.id" :product="product"></attributes></div>
                <div id="test2" class="col s12"><price v-if="product.id" :product="product"></price></div>
                <div id="test3" class="col s12"><preview></preview></div>
                <div id="test4" class="col s12"><version></version></div>
            </div>

        </div>
    </div>
</template>

<script>
    import Attributes from './attribute.vue';
    import Price from './price.vue';
    import Preview from './preview.vue';
    import Version from './version.vue';
    export default{
        data(){
            return{
                product: {}
            }
        },
        methods: {
            getProduct(){
                this.$http.get('products/' + this.$route.params.uuid).then((response) => {
                    this.product = response.data.data.product;
                });
            }
        },
        components: {
            Attributes,
            Price,
            Preview,
            Version
        },
        ready() {
            this.getProduct();
            $('ul.tabs').tabs();
        }

    }
</script>
