<template>
    <div class="container middle_content">
        <div class="row">
            <div class="col">
                <h2>Dashboard</h2>
                <sidebar :user="user"></sidebar>
                <div class="dashboard_content">
                    <div class="timeline_content">
                        <div class="time_label">
                            <span class="chip">{{ new Date() | moment "d, MMM. YYYY" }}</span>
                        </div>
                        <h3 v-if="!feed.length">You have not feed</h3>
                        <template v-for="activity in feed">
                            <create-news :activity="activity" v-if="activity.activity == 'create-news'"></create-news>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CreateNews from './activities/create-news.vue'
    import Auth from '../../../auth'
    import Sidebar from './sidebar.vue'

    export default {
        data() {
            return {
                user: {},
                feed: []
            }
        },
        methods: {
            getFeed() {
                this.$http.get('feed').then((response) => {
                    this.feed = response.data.data.feed
                })
            }
        },
        components:{CreateNews, Sidebar},
        ready() {
            this.getFeed();
            this.user = Auth.getCurrentUser()
        }
    }
</script>
