<template>
    <div class="dashboard_sidebar col">
        <div class="user_block">
            <div class="user_photo">
                <img v-bind:src="user.avatar" alt="Photo">
            </div>
            <div class="user_name">{{ user.name }}</div>
            <div class="follow btn modal-trigger grey lighten-4 blue-text text-darken-3" href="#manage"
                @click="getFollowers">
                <i class="fa fa-cog  manage modal-trigger" href="#manage"></i>
                Followers
            </div>
            <span class="count_follow right">{{ user.followers_count }}</span>
        </div>
        <div class="watched_list">
            <h4>Last viewed products</h4>
            <a v-link="{name: 'product', params: { brandroom: product.brandroom.alias, uuid: product.uuid}}"
               class="product waves-effect"
               v-for="product in products">
                <div class="img">
                    <img src="../img/album_img.jpg" alt="Photo">
                </div>
                <div class="name">{{ product.title }}</div>
                <div class="price right"><span>$</span>{{ product.price }}</div>
            </a>
        </div>
    </div>

    <div id="manage" class="modal">
        <a href="#!" class="modal-action modal-close btn-close"><i class="fa fa-times" aria-hidden="true"></i></a>
        <div class="modal-content">
            <h3>Manage Header</h3>
            <div class="row">
                <div class="col s12">
                    <h3 v-if="followers">You have no followers, your're goof)</h3>
                    <div class="storage_item" v-for="follower in followers">
                        <div class="storage_logo">
                            <img class="responsive-img" src="../img/preview.jpg" alt="logo">
                        </div>
                        <div class="storage_name">
                            {{ follower.name }}
                        </div>
                        <div class="btn">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                products: [],
                followers: []
            }
        },
        props: ['user'],
        methods: {
            getViewedProducts() {
                this.$http.get('users/me/viewed-products').then( (response) => {
                    this.products = response.data.products
                })
            },
            getFollowers() {
                this.$http.get('users/me/followers').then( (response) => {
                    this.followers = response.data.followers
                })
            }
        },
        components:{},
        ready() {
            this.getViewedProducts()
        }
    }
</script>
