#content{
    position: relative;
}
.loading {
    display: none;
    position: absolute;
    background-color: rgba(249, 249, 249, 0.93);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.loading .preloader-wrapper{
    position: fixed;
    right: 50%;
    top: 50%;
}