<template>
    <div class="container settings_page middle_content">
        <div class="row">
            <div class="col s12">
                <h2>Account</h2>
                <p>On your account: {{user.balance}}</p>
            </div>
            <div class="col s6">
                <h3>Add money by card</h3>
                <div v-if="user.payment.card_four != 0" class="row">
                    <div  class="col s6">
                        {{user.payment.card_type}}...{{user.payment.card_four}}
                    </div>
                    <div class="col s6" style="margin-bottom:10px">
                        <a v-link="{path: '/profile/settings#billing'}" class="btn waves-effect waves-teal">Change</a>
                    </div>
                    <div class="col s6">
                        <input type="text" name="amount" id="amount" />
                    </div>
                    <div class="col s6">
                        <button @click="payCard" class="btn waves-effect waves-teal">Pay</button>
                    </div>
                </div>
                <div v-else class="row">
                    <div  class="col s12">
                        <p>Please add your card</p>
                        <a v-link="{path: '/profile/settings#billing'}" class="btn waves-effect waves-teal">Add card</a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <h3>Add money by PayPal</h3>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <div class="col s6">
                        <input type="text" name="pay_paypal" v-model="paypal" />
                        <input type="hidden" name="cmd" value="_xclick" />
                        <input type="hidden" name="business" value="cloudpire.com-facilitator@gmail.com" />
                        <input type="hidden" name="item_name" value="{{user.email}}" />
                        <input type="hidden" name="amount" v-model="paypal"  />
                        <input type="hidden" name="return" value="/profile/account" />
                        <input type="hidden" name="notify_url" value="/paypal_return" />
                    </div>
                    <div class="col s6">
                        <button type="submit" class="btn waves-effect waves-teal">Pay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Auth from '../../auth'
    import bus from '../../bus'
    export default{
        data(){
            return{
                user: Auth.getCurrentUser(),
                paypal: 0
            }
        },
        methods:{
            payCard(){
                var summ = $('#amount').val();
                this.$http.post('profile/account/stripe', {'amount': summ}).then((response) => {
                    alert(response.data.message);
                    Auth.update()
                });
            }
        },
        components:{

        },
        ready(){
            bus.$on('update-user', (user) => {
                this.user = user;
            });
        }
    }
</script>
