<template>
    <div class="container"> 
    	<section class="brandroom_info row">
    		<cover :brandroom="brandroom"></cover>
            <left-sidebar :brandroom="brandroom"></left-sidebar>
    		<div class="brandroom_content col">
    			<news v-if="component == 'brandroom'"></news>
    			<news-full v-if="component == 'newsfull'" :brandroom="brandroom"></news-full>
    			<products v-if="component == 'brandroom-products'" :brandroom="brandroom"></products>
    			
    		</div>
    	</section> 
    </div>
</template>

<script>
    import LeftSidebar from './left-sidebar.vue';
    import News from './news/news.vue';
    import NewsFull from './news/news-full.vue';
    import Products from './products.vue';
    import Cover from './cover.vue';

    export default {
        data() {
            return {
                brandroom: {}
            }
        },
        computed: {
            component() {
                return this.$route.name
            }
        },
        methods: {
            getBrandroomData: function() {
                let url =  this.$route.params.brandroom;
                this.$http.get(`brandroom/${url}`).then((response) => {
                    this.$set('brandroom', response.data.data);
                    spinner(false);
                }, (err) => {
                    console.log(err);
                });
            }
        },
        components:{
            LeftSidebar,
            News,
            NewsFull,
            Products,
            Cover
        },
        ready() {
            this.getBrandroomData();
        }
    }
</script>