<template>
    <div class="col s12">
		<link rel="stylesheet" href="/css/croppic.css" type="text/css" />
		<div id="brandroom_cover" class="brandroom_header" :style="{backgroundImage:'url('+ brandroom.background +')'}" style="background-position:center">
			<p><span>{{brandroom.title}}</span>'s Brandroom</p>
			<upload-cover v-if="myBrandroom || (user && user.id == brandroom.user_id)"></upload-cover>
		</div>
		<div id="new_brandroom_cover"></div>
	</div>
</template>

<script>

    import UploadCover from './upload-cover.vue'
	import Auth from '../../auth'

    export default {
        data() {
            return {
				user: Auth.getCurrentUser(),
            }
        },
        computed: {
            myBrandroom() {
                return this.$route.params.brandroom == 'brandroom';
            }
        },
        props: ['brandroom'],
        components: { UploadCover },
        methods: {
        },
        created(){
        }
    }
</script>
