<template>
    <div class="container middle_content">
        <div class="row">
            <div class="create_brandroom">
                <div class="product_prop col s12">
                    <h2>Create Brandroom</h2>
                    <form-brandroom :brandroom="brandroom" action="create" @submit-brandroom="onSubmit"></form-brandroom>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Select from '../../directives/select.vue';
    import FormBrandroom from './form.vue'
    export default{
        data(){
            return{
                brandroom: {}
            }
        },
        directives: {Select},
        methods: {
            onSubmit: function (brandroom) {
                this.$http.post('brandroom', brandroom).then((response) => {
                    this.$route.router.go('/brandroom');
                });
            }
        },
        components: {FormBrandroom},
        created() {
        }
    }
</script>