<template>
    <form id="form_brandroom" @submit.prevent="submitBrandroom">
        <div>
            <div class="row prop">
                <div class="col s6">
                    <div class="col s6">
                        <span class="label">Title brandroom</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adip cing elit. Quibusdam, quo?</p>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="title" name="title" v-model="brandroom.title">
                        <label class="active" for="title">Title</label>
                    </div>
                </div>
                <div class="col s6">
                    <div class="col s6">
                        <span class="label">Alias Brandroom</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adip cing elit. Quibusdam, quo?</p>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="alias" name="alias" v-model="brandroom.alias" lazy>
                        <label class="active" for="alias">Alias</label>
                    </div>
                </div>
            </div>
            <div class="row prop">
                <div class="col s6">
                    <div class="col s6">
                        <span class="label">Description</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adip cing elit. Quibusdam, quo?</p>
                    </div>
                    <div class="input-field col s6">
                                        <textarea name="description" id="description" class="materialize-textarea"
                                                  v-model="brandroom.description"></textarea>
                        <label class="active" for="description">Description</label>
                    </div>
                </div>
                <div class="col s6">
                    <div class="col s6">
                        <span class="label">Company</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adip cing elit. Quibusdam, quo?</p>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="company" id="company" v-model="brandroom.company">
                        <label class="active" for="company">Company</label>
                    </div>
                </div>
            </div>
            <div class="row prop">
                <div class="col s6">
                    <div class="col s6">
                        <span class="label">PayPal email</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adip cing elit. Quibusdam, quo?</p>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="paypal_email" id="paypal_email" v-model="brandroom.paypal_email" lazy >
                        <label class="active" for="paypal_email">PayPal email</label>
                    </div>
                </div>
                <div class="col s6">
                    <div class="col s6">
                        <span class="label">Phone</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adip cing elit. Quibusdam, quo?</p>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="phone" id="phone" v-model="brandroom.phone">
                        <label class="active" for="phone">Phone</label>
                    </div>
                </div>
            </div>
            <div class="row prop">
                <div class="col s6">
                    <div class="col s6">
                        <span class="label">Country</span>
                    </div>
                    <div class="input-field col s6">
                        <select name="country" v-model="brandroom.country">
                            <option value="" disabled selected>Choose your option</option>
                            <option v-for="country in countries" v-bind:value="country.id">{{country.country}}</option>
                        </select>
                        <label class="active">Country</label>
                    </div>
                </div>
                <div class="col s6">
                    <div class="col s6">
                        <span class="label">City</span>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="city" id="city"  v-model="brandroom.city">
                        <label class="active" for="city">City</label>
                    </div>
                </div>
            </div>
            <div class="row prop" v-if="action == 'create'">
                <div class="col s12">
                    <p class="col s12">
                        <span class="col">
                            <input type="checkbox" name="rules" id="rules" value="true" v-model="brandroom.rules"  />
                            <label for="rules">Agree with rules</label>
                        </span>
                    </p>
                </div>
            </div>
            <button class="btn waves-effect right" v-if="action == 'update'">Update Brandroom</button>
            <button class="btn waves-effect right" v-if="action == 'create'">Create Brandroom</button>
        </div>
    </form>
</template>

<script>
    import ValidationRules from './validate'
    export default{
        data(){
            return{
                countries: {},
                form: '#form_brandroom',
            }
        },
        props: ['action', 'brandroom'],
        methods: {
            loadCountries(){
                this.$http.get('countries').then((response) => {
                    this.countries = response.data;
                    this.$nextTick(function() {
                        initStyleElements();
                    });
                }, (err) => {
                    console.log(err);
                });
            },
            submitBrandroom() {
                this.validate();

                if (!$(this.form).valid()) {
                    return false;
                }

                this.$emit('submit-brandroom', this.brandroom);
            },
            validate() {
                $(this.form).validate(ValidationRules);
            }
        },

        watch: {
            'brandroom.alias': {
                handler: function (val, oldVal) {
                    if (!val) {
                        return false
                    }
                    this.$http.get('check_alias', {alias:val}).then((response) => {
                        //if (response.data.correct == 'not'){
                        //    alert('not correct alias');
                        //}
                    });
                },
                deep: true
            },
            'brandroom.paypal_email': {
                handler: function (val, oldVal) {
                    if (!val) {
                        return false
                    }
                    this.$http.get('check_paypal_email', {email:val}).then((response) => {

                    });
                },
                deep: true
            }
        },
        created() {
            this.loadCountries();
        }
    }
</script>
