<template>
    <div class="left_sidebar col">
		<div class="brandroom_profile col">
			<div class="col s12">
				<div class="photo"><img :src="brandroom.logo"></div>
			</div>
			<div class="col s12">
				<div class="followers col s6">Followers <span>{{brandroom.followed_count ? brandroom.followed_count[0]['count'] : 0}}</span></div>
			</div>
			<div class="clearfix"></div>
			<p class="owner_info">Boston, USA</p>
			<p class="slogan_text">
				{{brandroom.description}}
			</p>
			<div class="prefers_lots">
			</div>
			<p><a class="profile_link waves-effect"><i class="material-icons left">add</i>Follow</a></p>
			<p><a class="profile_link waves-effect"><i class="material-icons left">perm_identity</i>News</a></p>
			<p>
				<a class="profile_link waves-effect" v-link="{path: '/' + brandroom.alias + '/products'}">
					<i class="material-icons left">shopping_basket</i>Products
				</a>
			</p>
			<p>
				<a class="profile_link waves-effect" v-link="{path: '/projects/create/' + brandroom.alias}">
					<i class="material-icons left">work</i> Propose the Job
				</a>
			</p>
		</div>
	</div>
</template>
<script>
    export default{
        data(){
            return {

            }
        },
        props:['brandroom'],
        methods: {
            follow: function(){
            	spinner(true);
            	this.$http.post(`${this.$route.params.brandroom}/subscribe`).then((response) => {
                    this.$set('brandroom', response.data);
                    //spinner(false);
                }, (err) => {
                    console.log(err);
                    this.$route.router.redirect(404);
                });
            }
        }
    }
</script>