<template>
    <div class="container">
        {{ brandroom | json }}
        <section class="brandroom_info row">
            <cover v-if="user.brandroom" :brandroom="user.brandroom"></cover>
            <my-left-sidebar></my-left-sidebar>
            <div class="brandroom_content col">
                <brandroom-sales v-if="component == 'brandroom-sales'"></brandroom-sales>
                <my-products v-if="component == 'my-brandroom-products'"></my-products>
                <brandroom-upload-product v-if="component == 'brandroom-upload-product'"></brandroom-upload-product>
                <brandroom-update-product v-if="component == 'brandroom-update-product'"></brandroom-update-product>
                <brandroom-news v-if="component == 'brandroom-news'"></brandroom-news>
                <brandroom-add-news v-if="component == 'addnews'"></brandroom-add-news>
                <brandroom-news-full v-if="component == 'my-newsfull'"></brandroom-news-full>
                <projects v-if="component == 'brandroom-projects'"></projects>
                <brandroom-settings v-if="component == 'brandroom-settings'"></brandroom-settings>
            </div>
        </section>
    </div>
</template>

<script>
    import MyLeftSidebar from './my-left-sidebar.vue';
    import Auth from '../../auth'
    import BrandroomSales from './sales.vue';
    import MyProducts from './my-products.vue';
    import BrandroomUploadProduct from '../product/upload/products-upload.vue';
    import BrandroomUpdateProduct from '../product/update/update.vue';
    import BrandroomNews from './news/news.vue';
    import BrandroomAddNews from './news/add-news.vue';
    import BrandroomNewsFull from './news/news-full.vue';
    import BrandroomSettings from './settings.vue';
    import Cover from './cover.vue';
    import Projects from './projects/index.vue';
    export default {
        data() {
            return {
                user: Auth.getCurrentUser()
            }
        },
        computed: {
            component() {
                return this.$route.name
            }
        },
        methods: {
            viewTrigger(calledAction){
                this.action = calledAction;
            },
        },
        components:{
            MyLeftSidebar,
            BrandroomSales,
            MyProducts,
            BrandroomUploadProduct,
            BrandroomUpdateProduct,
            BrandroomNews,
            BrandroomAddNews,
            BrandroomNewsFull,
            Cover,
            Projects,
            BrandroomSettings
        },
        ready() {
        }
    }
</script>
