<template>
    <div class="left_sidebar col">
        <div class="brandroom_profile col">
            <p><a v-link="{name: 'brandroom-sales'}" class="profile_link waves-effect btn-flat"><i class="material-icons left">store</i> Sales </a></p>
            <p><a v-link="{name: 'my-brandroom-products'}" class="profile_link waves-effect btn-flat"><i class="material-icons left">shopping_basket</i> Show Products </a></p>
            <p><a v-link="{name: 'brandroom-upload-product'}" class="profile_link waves-effect btn-flat"><i class="material-icons left">add</i> Upload product</a></p>
            <p><a v-link="{name: 'brandroom-news'}" class="profile_link waves-effect btn-flat"><i class="material-icons left">perm_identity</i> Show News </a></p>
            <p><a v-link="{name: 'addnews'}" class="profile_link waves-effect btn-flat"><i class="material-icons left">add</i> Add News</a></p>
            <p><a v-link="{name: 'brandroom-projects'}" class="profile_link waves-effect btn-flat"><i class="material-icons left">work</i> Projects</a></p>
            <p><span class=" profile_link waves-effect btn-flat"><i class="material-icons left">equalizer</i> Analytics </span></p>
            <p><span class=" profile_link waves-effect btn-flat"><i class="material-icons left">stars</i> Marketing </span></p>
            <p><a v-link="{name: 'brandroom-settings'}" class="profile_link waves-effect btn-flat"><i class="material-icons left">settings</i>Settings</a></p>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {

            }
        },
        components:{
        },
    }
</script>