<template>
    <ul class="collection" v-for="product in products">
        <li class="collection-item">
            <h4>{{product.title}}</h4>
            <a v-link="{path: '/brandroom/products/update/' + product.uuid }">Update</a>
            <a v-link="{path: '/brandroom/products/delete/' + product.uuid }">Delete</a>
        </li>
    </ul>
</template>


<script>
    export default {
        data() {
            return {
                products: {},
            }
        },
        methods: {
            getProducts() {
                this.$http.get(this.$route.path.substr(1)).then((response) => {
                    this.products = response.data.products.data;
                    this.$nextTick(() => {
                        initStyleElements();
                    });
            }, (err) => {
                    console.log(err);
                });
            },
        },
        components: {},
        created() {
            this.getProducts();
        }
    }
</script>
