<template>
    <div class="container">
        <section class="brandroom_info row">
            <cover :cover_data="{'background':brandroom.background, 'title':brandroom.title}"></cover>
            <left-sidebar :data="brandroom"></left-sidebar>
            <div class="brandroom_content col">
                <div class="blockProducts">
                    <div class="container">
                        <list-products :products="products"></list-products>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import ListProducts from '../list-products/list-products.vue';
    import LeftSidebar from './left-sidebar.vue';
    import Cover from './cover.vue';
    export default {
        data() {
            return {
                products: {},
            }
        },
        methods: {
            getProducts() {
                this.$http.get(this.$route.path.substr(1)).then((response) => {
                    this.$nextTick(() => {
                        this.products = response.data.products;
                        initStyleElements();
                    });
                }, (err) => {
                    console.log(err);
                });
            },
        },
        components: {ListProducts, LeftSidebar, Cover},
        created() {
            this.getProducts();
        }
    }
</script>
