<template>
    <div class="container middle_content" v-cloak="">
        <div class="row">
            <div class="create_brandroom col s12">
                <h2>Settings Brandroom</h2>
                <form-brandroom :brandroom="brandroom" action="update" @submit-brandroom="updateBrandroom"></form-brandroom>
            </div>
        </div>
    </div>
</template>

<script>
    import LeftSidebar from '../../components/brandroom/left-sidebar.vue'
    import Select from '../../directives/select.vue'
    import Cover from './cover.vue'
    import FormBrandroom from './form.vue'
    export default{
        data(){
            return{
                brandroom: {}
            }
        },
        directives: { Select },
        methods: {
            getBrandroom() {
                this.$http.get('brandroom/settings').then((response) => {
                    this.brandroom = response.data.data.brandroom;
                }, (err) => {
                    console.log(err);
                })
            },
            updateBrandroom (brandroom) {
                this.$http.put('brandroom', brandroom).then((response) => {
                }, (err) => {
                    console.log(err);
                });
            }
        },
        components: {LeftSidebar, FormBrandroom, Cover},
        created(){
            this.getBrandroom();
        }
    }
</script>