<template>
	<a id="upload_cover" class="waves-effect white grey-text btn change_bg">
	    <i class="material-icons">add</i><i class="material-icons ">picture_in_picture</i>
	</a>
</template>

<script>


    export default{
        data(){
            return{
            }
        },
        computed: {
            myBrandroom() {
                return this.$route.params.brandroom == 'brandroom';
            }
        },
        props: [],
        components: {},
        methods: {
            initCrop: function() {
                Croppic.prototype.afterCrop = function (data) {
                    spinner(false);
                    let that = this;
            		let response = data;           	
                   	
                    if (response.status == 'success') {
            
                        if (that.options.imgEyecandy)
            				that.imgEyecandy.hide();
            
                        that.destroy();
            			
                        $('#' + that.options.storageCover).css('background-image', 'url(' + response.data.url + ')');
                        if (that.options.outputUrlId !== '') { $('#' + that.options.outputUrlId).val(response.data.url); }
                        
                        that.imgUploadControl.show();
            
                        // that.croppedImg = that.obj.find('.croppedImg');
            
                        that.init();
            
            	    }
                    if (response.status == 'error') {
                        if (that.options.onError) that.options.onError.call(that,response.message);
            			setTimeout( function(){ that.reset(); },2000)	
                    }
            
                    if (that.options.onAfterImgCrop) that.options.onAfterImgCrop.call(that, response);
                }
            
            	let cropperOptions = {
            			cropUrl:'/api/v1/brandroom/background',
            			// uploadUrl:'/storage/background',
            			zoomFactor:10,
            			doubleZoomControls:false,
            			rotateControls:false,
            			processInline:true,
            			customUploadButtonId:'upload_cover',
            			storageCover:'brandroom_cover',
            			imgEyecandy:false,
            			onBeforeImgCrop:function(){spinner(true)}
            		}
            		
            	let cropperHeader = new Croppic('new_brandroom_cover', cropperOptions);
            }
        },
        created(){
            let that = this;
            this.$nextTick(function() {
                that.initCrop();
            });
            // if (this.myBrandroom || this.auth.id == this.brandroom.user_id) {
            // }
        }
    }
</script>
