.add_products{
  border-left: 1px solid #eee;
  width: calc(100% - 300px);
  h1{
    font-size: 28px;
  }
  .product_prop{
    .prop{
      padding: 10px;
      }
    }
    .row{
      margin-bottom: 0;
    }
  }
  .category_list{
    justify-content: space-around;
    min-height: 70px;
    .active{
      width: 70px;
      height: 70px;
      margin: 0 20px;
      line-height: 70px;
      background: #fff;
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      i{
        font-size: 2rem;
        line-height: 70px;
      }
    }
  }
.create_storage{
  border: none;
  border-right: 1px solid #eee;
  .prop{
    .col{
      margin-bottom: 20px;
    }
    .label{
      font-size: 18px;
      font-weight: bold;
    }
  }
}