$btn_height	: 36*$cof_W+vw;
$input_height	: 40*$cof_W+vw;
$btn_padding	: 36/2*$cof_W+vw;
$lg_height : 48px;
$md_height : 36px;
$sm_height : 30px;
@include keyframes(btn_pulse) {
	0%   { box-shadow: 0 0 9px #999; }
	50%  { box-shadow: 0 0 19px #999; }
	100% { box-shadow: 0 0 9px #999; }
}
.btn_home{
	height: $btn_height;
	line-height: $btn_height;
	border-radius: $btn_padding;
	border: none;
	cursor: pointer;
	transition: all 300ms;
	// @include animation('btn_pulse 1.4s infinite');
	&:hover{
		// animation-iteration-count: 0;
		box-shadow: 0 0 (15*$cof_W)+vw #999;
	}
} 
.form-group{
	position: relative;
	float: left;
	width: 100%; 
	.form-control{
		border:none;
		border-bottom: 1px solid #0F7BE8;
		font-size: 14px;
		padding-left: 0;
		padding-right: 25px;
		height: 40px;
		width: 100%;
		margin: 0;
		&:focus ~ .placeholder{
			top: -10px;
			font-size: 13px;
			&:after{ 
				visibility: visible;
				left: 0;
				width: 100%;
				background: #0F7BE8;
			}
		}
	}
	.placeholder{
		position: absolute;
		top: 15px;
		transition: .3s ease all;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		pointer-events: none;
		margin: 0;
		text-align:left;
		&:after{
			content: '';
			position: absolute;
			z-index: 5;
			bottom: 0;
			left: 50%;
			height: 2px;
			width: 0;
			visibility: hidden;
			transition: .3s ease all;
		}
	}
	.delete{
		display: none;
	}
	.edited{ 
		& ~ .placeholder{
			top:-10px;
			font-size: 13px;
			&:after{ 
				visibility: visible;
				left: 0;
				width: 100%;
				background: #0F7BE8;
			}
		} 
		& ~.delete{
			display:block;
			position: absolute;
			top: 5px;
			right: 5px;
			transform: rotate(45deg);
			font-size: 24px;
			color: #999;
			&:hover{
				color:#333;
				cursor: pointer;
			}
		}
	}
}
.home_wrap{ 
	.form-control{ 
		font-size: 14*$cof_W+vw; 
		height:$input_height; 
		padding-right: 25*$cof_W+vw; 
		&:focus ~ .placeholder{
			top: (-7*$cof_W)+vw;
			font-size: 13*$cof_W+vw; 
		}
	}
	.placeholder{ 
		top: 15*$cof_W+vw; 
	} 
	.edited{ 
		& ~ .placeholder{
			top:(-7*$cof_W)+vw;
			font-size: 13*$cof_W+vw; 
		} 
		& ~.delete{ 
			top: (5*$cof_W)+vw;
			right: (5*$cof_W)+vw; 
			font-size: (24*$cof_W)+vw; 
		}
	}
}

.btn_lg{
	display: block;
	font-size: 18px;
	color: #616161;
	height: $lg_height;
	padding: 0  $lg_height/2;
	line-height: $lg_height;
	transition: all 300ms;
	background: #e9e9e9;
	border-radius: $lg_height/2;
	cursor: pointer;
	text-align: center;
	&:hover{
		background: #fff;
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.24);
	}
}
.btn_md{
	@extend .btn_lg;
	font-size: 16px;
	padding: 0  $md_height/2;
	height: $md_height;
	line-height: $md_height;
	border-radius: $md_height/2;
}
.btn_sm{
	@extend .btn_lg;
	font-size: 14px;
	padding: 0  $sm_height/2;
	height: $sm_height;
	line-height: $sm_height;
	border-radius: $sm_height/2;
}
.btn_green{
	color: #fff;
	background-color: #00c853;
	&:hover{
		background:  #00c853;
		box-shadow: 0 2px 12px rgba(0, 200, 83, 0.86);
	}
}
.btn_blue{
	color: #fff;
	background-color: #1565c0;
	&:hover{
		background:  #1565c0;
		box-shadow: 0 2px 12px rgba(21, 101, 192, 0.86);
	}
}

/* -- Ripple effect -------------------------------- */
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  background: #fff;
  opacity: 1;
}
// animation effect
.ink.animate {
  -webkit-animation: ripple .4s linear;
  -moz-animation: ripple .4s linear;
  -ms-animation: ripple .4s linear;
  -o-animation: ripple .4s linear;
  animation: ripple .4s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}