.products{
	border-right: 1px solid #e0e0e0;
	.col{
		margin-bottom: 20px;
	}
	.continue_shopping{
		text-transform: capitalize;
		margin-right: 20px;
		i{
			font-size: inherit;
		}
	}
	.empty_cart{
		text-transform: capitalize;
	}
	.products_name{
		font-size: 18px; 
		margin-top: 20px;
		float: left;
		width: 65%;
	}
	.product_by{ 
		float: left;
		width: 65%;
		font-size: 12px;
		a{
			color: #1565c0;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.product_price{
		float: left;
		width: 10%;
		text-align: center;
		font-size: 30px;
		margin-top: -30px;
		span{
			font-size: 14px;
		}
	}
	.delete{
		text-transform: capitalize;
		padding: 0 5px;
		margin-top: -25px;
		i{
			font-size: inherit;
		}
	}

}
.product_photo{
	width: 90px;
	height: 90px;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 25px;
} 
.total_price{
	padding: 0 45px;
	text-transform: uppercase;
	span{
		font-size: 48px;
		i{
			font-size: 22px;
			font-style: normal;
		}
	}
}