$categories-colors: (

  music: #9225ae,
  audiobooks: #ff6d00,
  ebooks: #40c9ff,
  photo: #01579b,
  graphics: #ffa000,
  libraries: #D500FA,
  templates: #e53935,
  effects: #01c853
  );

.color {

  @each $categories, $color in $categories-colors {

    &_#{$categories} {
      label{
       color: #1565c0;
     }
     .selectbox{
      .select{
        background: #1565c0;
      }
    }
    .dropdown{
      border: 2px solid #1565c0;
      color: #1565c0;
    }
    .active_nav{
      background: $color;
    }
    .nav_link:hover{
      color:$color;
    }
    .slider-touch-left{
      span{
        background: #1565c0;
      }
    }
    .slider-line span{
      background: #1565c0;
    }
    .check_btn{
      border:2px solid #1565c0;
      i{
        background: #1565c0;
      }
    }
    .radio_btn{
      border:2px solid #1565c0;
      i{
        background: #1565c0;
      }
    }
    >i{
     color:$color;
   }
   &.btn-floating{
    background: $color;
    i{
      color: #fff;
    }
    &.active{
      i{
        color:$color;
      }
    }
  }
}
}
}
$rate-colors: (
  one: #f57c00,
  two: #fbc02d,
  three: #afb42b,
  four: #0EDE64,
  fife:#00c853
  );
.rating{
  .rate {

    @each $rate, $color in $rate-colors {

      &_#{$rate} {
       color: $color;
     }
   }

 }
}
.rate {

  @each $rate, $color in $rate-colors {

    &_#{$rate} {
      path{
        fill: $color;
      }

    }
  }

}
.scroll_header{
  header{
    transition: width,left 600ms;
    left: -50%;
    margin-bottom: 20px;
    .row{
      margin-bottom: 10px;
    }
  }
  &.on{
    padding-top: 160px;
  }
}

.top_header{
  height: 80px;
  padding: 20px 0;
  transition: all 500ms;
  .logo img{
    width: auto;
  }
  .search {
    position: relative;
    input{
      width:100%;
      height: 40px;
      border: none;
      border-radius: 20px;
      padding:  0 20px;
      cursor: default;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.32);
      &:hover{
        box-shadow: 0 2px 14px rgba(15, 123, 232, 0.54);
      }
    }
    button{
      position: absolute;
      top: 0;
      right: 15px;
      height: 40px;
      width: 40px;
      text-align: center;
      background: none;
      border: none;
      font-size: 18px;
      color: #1565c0;
      display: block;
      padding: 0;
      cursor: pointer;
      transition: all 300ms;
    }
  }
}
.cart.cart {
  position: relative;
  padding-right: 10px;
  overflow: visible;
  margin-top: 2px;
  text-transform: capitalize;
  font-weight: bold;
  i{
    margin-right: 0;
  }
  .count_cloud{
   position: absolute;
   right: -15px;
   top: -15px;
   b{
     position: absolute;
     z-index: 2;
     font-size: 12px;
     width: 100%;
     left: 0;
   }
   i{
    font-size: 30px;
  }
}
}
.profile_dropdown{
  line-height: 44px;
  cursor: pointer;
  i{
    margin-top: 8px;
    margin-left: 5px;
  }
}
.profile_setting{
  width: auto;
  li{
    min-height: auto;
    a{
     font-size: 13px;
     line-height: 1.2;
     padding: 10px;
     i{
      margin-right: 10px;
    }
  }
}
}
.menu{
  background: transparent;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  ul{
    list-style: none;
    padding: 0;
    height: 50px;
    background: #212121;
    border-radius: 4px;
    padding: 4px 0;
    li{
      font-weight: 900;
      text-transform: uppercase;
      float: left;
      height: 100%;
      line-height: 42px;
      width: 12.5%;
      border-right: 2px solid #4d4d4d;
      &:last-child{
        border: none;
      }
      a{
        font-size: 12px;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 300ms;
        .icon{
          display: inline;
          font-size: 14px;
          margin-right: 10px;
        }
        &:hover{
          text-shadow: 0px 0px 30px #fff;
        }
      }
    }
    .active_nav{
      border-radius: 4px;
      transform: scale(1.3);
      max-width: 82%;
      transform-origin: 20px;
      font-size: 10.5px;
      &:hover{
        color:#fff;
      }
    }
  }
}
.scroll_header{
  .fix_header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    left: 0;
    height: 50px;
    z-index: 100000;
    background: #212121;
    backface-visibility: hidden;
    .top_header{
      padding: 5px 0;
    }
    .logo{
      width: 55px;
      padding: 0!important;
      overflow: hidden;
      margin-right: 15px;
    }
    .search{
      padding: 0!important;
      width: 40px;
      overflow: hidden;
    }
    .menu{
     position: absolute;
     top: 0;
     left: 50%;
     margin-left: -465px;
     height: 100%;
     li{
      width: auto;
      line-height: 44px;
      a{
        padding: 0 25px;
        i{
          display: none;
        }
      }
      .active_nav{
        margin: -4px -2px;
        height: 50px;
        line-height: 52px;
        width: 105%;
        font-size: 12px;
        max-width: none;
        transform: scale(1);
        border-radius: 0;
      }
    }
  }
  .profile{
   position: relative;
   width: 205px;
   z-index: 2;
   float: none;
   .profile_dropdown{
    text-indent: -9999px;
    padding: 0;
    width: 25px;
    color: #fff;
    margin-right: 20px;
    i{
      text-indent: 0;
    }
  }
  .dropdown-content{
    top: 53px!important;
    left: 0!important;
    width: auto!important;
  }
  .cart{
    width: auto;
    margin-right: 9px;
  }
}
.user_foto {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 0;
}
}
}
.top_repo{
  text-align: center;
  padding: 0 0.75rem;
  padding-top: 25px;
  h4{
    color: #1565c0;
    margin: 15px 0;
  }
  .repo{
    display: block;
    width: 10%;
    float: left;
    position: relative;
    .author_photo{
      width: 48px;
      height: 48px;
      margin: 0 auto;
      border-radius:50%;
      overflow:hidden;
      transition: all 300ms;
      img{
        width: 100%;
      }
    }
    .author_name{
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 14px;
      color:#212121;
      height: 38px;
      overflow: hidden;
    }
    &:hover{
      .author_name{
        color: #1565c0;
      }
      .author_photo{
        box-shadow: 0 2px 14px rgba(15, 123, 232, 0.54);
      }
    }
  }
  .present{
    position: absolute;
    bottom: 95px;
    right: 0;
  }
}

/***********blockProducts*******/
.blockProducts{
  background: #f5f5f5;
  padding-bottom: 25px;
}
.filters{
  margin-top: 40px;
}
.filter-group{
  min-height: 100px;
}
.filter-group > span{
  display: block;
  font-size: 16px;
  color: #1565c0;
}
.filter-group  label{
  margin-right: 5px;
}
.from_to{
  input{
    height: 27px;
    text-align: center;
  }
}
/********* product card  **********/
.products_list{
  padding-bottom: 5px;
}
.products_list .col.s2{
  margin-left: 0;
}
.product_card{
  flex: none;
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 12px;
  color: #424242;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.32);
  transition: all 300ms;
  overflow: hidden;
  .fa{
    font-size: 18px;
    color:#D0D0D0;
    margin-right: 5px;
    float: left;
  }
  &:hover{
    border-radius: 4px;
    box-shadow: 0 2px 14px rgba(15, 123, 232, 0.54); 
  }
}
.btn_sample{
  float: right;
  width: 65px;
  height: 22px;
  border-radius: 4px;
  line-height: 22px;
  color: #979797;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.32);
  cursor: pointer;
  text-align: center;
  .fa{
    font-size: 12px;
    margin-right: 5px;
    float: none;
  }
}
.btn_sample:hover{
  color: #1565c0;
  .fa{
    color:#1565c0;
  }
}
.price{
  color: #00c853;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  i{
    font-style: normal;
    font-size: 18px;
  }
  &.free{
    font-size: 14px;
  }
}
.product_name{
  margin: 10px 0;
  height: 35px;
  color: #1565c0;
  overflow: hidden;
}
.product_name:hover{
  color: #014479;
}
.product_img{
  margin: 0 -15px;
  position: relative;
  height: 33%;
  overflow: hidden;
  margin-bottom: 12px;
  background: #e9e9e9;
  text-align: center;
  img{
    transition: all 500ms;
    width: 100%;
    backface-visibility: hidden;
    &:hover{
      transform: scale(1.1);
    }
  }
  svg{
    width: 30px;
    height: 100%;
  }
}
.product_author{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #1565c0;
  line-height: 18px;
  margin-bottom: 10px;
}
.product_author:hover{
  color: #014479;
}
.product_rate{
  position: absolute;
  right: 5px;
  width: 32px;
  height: 22px;
  bottom: 5px;
  text-align: center;
  line-height: 22px;
  color: #fff;
  svg{
    width: 100%;
    height: auto;
  }
  b{
    position: absolute;
    width: 100%;
  }
}
.product_tags{
  float: left;
  width: 65%;
  line-height: 18px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product_look{
  line-height: 18px;
  float: right;
}
.add_to_wishroom, .delete_product{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 36px;
  font-size: 16px;
  font-weight: bold;
  background-color: #e9e9e9;
  text-align: center;
  line-height: 12px;
  padding-top: 6px;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  transition: all 300ms;
  small{
    font-size: 10px;
  }
  &:hover{
   background: #C7C7C7;
 }
}
.delete_product{
  color: #fff;
  line-height: 36px;
  font-size: 12px;
  padding-top: 0;
  .fa{
    float: none;
    color: #fff;
  }
}
.buy,.edit{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 60%;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: #00c853;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  transition: all 300ms;
  .fa{
    float: none;
    margin: auto 0;
    font-size: 14px;
    margin-right: 10px;
    color: #fff;
  }
  &:hover{
   background: #038237;
 }
}
.download{
  @extend .buy;
}
.edit{
  background : #1565C0;
&:hover{
  background-color: #0D47A1;
}
}
.delete_product
{
  background : #C62828;
  &:hover{
    background-color: #B71C1C;
  }
}

/*******pagination********/
.pagination li.active{
  background: #1565c0;
}
.pagination li.active:hover a{
  color: #fff;
}
.pagination li:hover a{
  color: #1565c0;
}
/******sample modal*****/
.modal_info{
  display: none;
  position: absolute;
  background: rgba(255,255,255,0.96);
  padding: 0 10px 10px;
  z-index: 2;
  margin-top: 2px;
  font-size: 12px;
  width: 100%;
  top: 0;
  left: 0;
  .close{
    font-size: 16px;
  }
  & > span{
    display: block;
    text-align: right;
    color: #1565c0;
    label{
      float: left;
      text-transform: uppercase;
    }
  }
}