.dashboard_sidebar.dashboard_sidebar{
	width: 30%;
	padding-right: 30px;
}
.user_block{  
	.manage{
		font-size: 18px;
		margin-right: 10px;
		cursor: pointer;
	}
}
.product{ 
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 5px;
	&:hover{
		.name{
			color: #363636;
		}
	}
}
.user_photo{
	width: 128px;
	height: 128px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	img{
		width: 100%;
	}
}
.user_name{
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}
.follow{
	margin-bottom: 20px; 
}
.count_follow {
	line-height: 36px;
}
.product {
	.name{
		flex-grow: 1;
		font-weight: 500;
		margin-left: 10px;
	}
	.price{
		font-size: 18px;
		span{
			font-size: 12px;
		}
	}
}
.watched_list {
	margin-top: 20px;
	border-top: 1px solid #ccc;
}
.dashboard_content{
	float: left;
	width: 70%;
	border-left: 1px solid #ccc;
	padding-left: 30px;
}
.timeline_content{
	border-left: 3px solid #ccc;
	padding-bottom: 20px;
	padding-left: 45px;
	margin-left: 15px;
	position: relative;
}
.timeline_item{
	background: #fdfdfd;
	border-radius: 4px;
	border: 1px solid #eee;
	margin-bottom: 20px;
}
.timeline_header{
	padding: 15px; 
	h5{
		font-size: 16px;
		margin: 0;
	}
}
.timeline_body{
	padding: 15px;
	border-top: 1px solid #eee;
	img{
		height: 90px;
		width: auto;
	}
}
.time_label{
	margin-bottom: 20px;
	.chip{
		border-radius: 4px;
		position: relative;
		left: -75px;
	}
}
.timeline_icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ccc;
	position: absolute;
	left: -16px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: #fff;
}
.storage_item{
	margin-bottom: 15px;
	.storage_name{
		font-size: 18px;
		font-weight: 500;
	}
}
.modal{
	.btn-close{
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 18px;
		line-height: 1;
		color: #999;
		&:hover{
			opacity: 0.7;
		}
	}
}
#manage{
	&.modal{
		width: 700px;
		.storage_item{
			height: 100px;
			position: relative;
			.storage_logo{
				width: 100px;
				height: 100px;
				float: left;
				margin-right: 10px;
			}
			.btn{
				position: absolute;
				bottom: 0;
			}
		}
	}
}