.downloads{
	.product{
		width: 100%;
		position: relative;
		.product_name{
			height: auto;
		}
	}
	.buttons{
		text-align: center ;
		.btn{
			margin-bottom: 10px;
			width: 	100%;
			padding: 0 10px;
		}
	}
	.product_name{
		font-size: 	16px;
		text-align: center;
		&:hover{
			color: #212121;
		}
	}
	.photo{
		img{
			max-width: 	100%;
			height: auto;
		}
	}
	.icon{
		font-size: 30px;
	}
}
.rating{
	margin: 0;
	li{
		display: inline-block;
		position: relative;
		i{
			font-size: 32px;
		}
		span{
			position: absolute;
			width: 100%;
			left: 0;
			line-height: 32px;
			top: 0;
			color: #fff;
			font-weight: 700;
		}
		&:hover{
			opacity: 0.8;
			span{
				color: #000;
			}
		}
	}
}