$width	: 1370;
$columns:14;
$gutter: 15; 
*{
	box-sizing: border-box; 
}
h1,h2,h3,h4,h5{
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	padding: 20px 0 20px 0; 
}
h1{
	font-size: 28px; 
}
h2{
	font-size: 28px; 
}
h3{
	font-size: 22px; 
}
h4{
	font-size: 18px; 
}
h5{
	font-size: 14px;
}

.container{
	padding-left: $gutter + px;
	padding-right: $gutter + px;
	width:$width + px;
	margin-left: auto;
	margin-right: auto;
	max-width: 98%;
	.row{
		margin-left: -$gutter + px;
		margin-right: -$gutter + px;
		@include clr;
		& [class*='col-']{
			position: relative;
			float: left;
			min-height: 1px;
			padding-left: $gutter + px;
			padding-right: $gutter + px;
		}	
	}
}
.text_center{
	text-align: center;
}
.text_right{
	text-align: right;
}
.text_left{
	text-align: left;
}
.right{
	float: right!important;
}
.left{
	float: left;
}
@for $i from 1 through $columns{
	.col-#{$i}{
		width: (100/$columns * $i) *1%
	}
}