@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v14/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
header, main, footer {
    padding-left: 0;
}
.home_wrap {
	background: #FFF url(../img/body_bg.jpg) center no-repeat;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
	overflow: hidden; 
	display: flex;
	flex-direction: column; 
}
.input-field{
	font-size: 14px;
}
.home_header{
	padding-top: 3vh;
	margin-bottom: 3vh;
}
.search-wrapper{
	max-width: 400px;
	margin: 0 auto;
	height: 40px;
}
#search{
	border: none;
	box-shadow: none;
	padding:  0 10px;
	margin: 0;
}
.search-wrapper i{
	position: absolute;
	right: 8px;
	top: 10px;
	cursor: pointer;
}
.what_we_are{
	font-family: Lato;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
}
.what_we_are span{
	float: right;
	margin-top: 3px;
	margin-left: 5px;
}
.what_we_are i{
	font-size: 26px;
}
.storage_advantage h6{
	font-family: Raleway;
	font-weight: 500;   
}
.storage_advantage span {
	display: inline-block;
	width: 3.5vw;
	height: 3.5vw;
	margin-bottom: 0.5vh;
	background: url(../img/clouds.png) no-repeat;
	background-size: cover; 
}
.storage_advantage .advantage1 span {
	background-position: center 0px; 
}
.storage_advantage .advantage2 span {
	background-position: center -3.5vw; 
}
.storage_advantage .advantage3 span {
	background-position: center -7vw;
}
.storage_advantage .advantage4 span {
	background-position: center -10.5vw;
}
.autorization .card{
	padding: 0.75rem;
}
.autorization .btn i{
	margin-right: 10px;
	font-size: 14px;
}
.autorization .close{
	position: absolute;
	right: 0.75rem;
	top: 0.75rem;
}
.autorization{
	overflow: hidden;
	height: 48vh;
	max-height: 410px;
	min-height: 370px;
	p.check{
		margin-top: 0;
		label{
			font-size: 12px;
			padding-left: 30px;
			line-height: 1.6;
		}
	}
	.card{
		height: 100%;
		margin: 0;
	}
}
.footer_login{
	position: absolute;
	width: 100%;
	bottom: 0;
}
.join_with{
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden;
	color: #a9a9a9;
	margin: 1.4vw 0;
} 
.join_with span {
	position: relative;
	font-size: 16px; 
}
.join_with span:before,
.join_with span:after {
	content: "";
	display: block;
	width: 1000px;
	position: absolute;
	left: -1015px;
	top: 50%;
	height: 1px;
	background: #e5e5e5;
}
.join_with span:after {
	left: auto;
	right: -1015px; 
}
.cloud_storage{
	margin: 2vh 0 0 0;
}
.cloud_storage h3 {
	margin: 0;
}
.cloud_storage ul {
	padding: 0;
	list-style: none;
	text-align: justify;
	text-align-last: justify;
	margin: 2vh 0;
}
.cloud_storage ul:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
	visibility: hidden;
}
.cloud_storage ul li {
	display: inline-block;
	text-align: center;
	text-align-last: center; 
}
.cloud_storage ul li a {
	font-family: 'Raleway',sans-serif;
	font-size: 0.98vw;
	color: #616161;
	transition: all 300ms;
}
.cloud_storage ul li a span {
	transition: all 300ms;
	display: block;
	margin: 0 auto;
	width: 4vw;
	height: 4vw;
	border-radius: 50%;
	margin-bottom: 0.84vw;
	background: rgba(255, 255, 255, 0.8) url(../img/categories1.png) no-repeat;
	background-size: 200%;
	box-shadow: 0 0 10px #999;
}
.cloud_storage ul li a:hover {
	color: #1565c0; 
}
.cloud_storage ul li a:hover span {
	border-radius: 10%; 
}
.cloud_storage ul li .music span {
	background-position: 0 0; 
}
.cloud_storage ul li .graphics span {
	background-position: 0 -4vw; 
}
.cloud_storage ul li .audiobooks span {
	background-position: 0 -8vw; 
}
.cloud_storage ul li .libraries span {
	background-position: 0 -12vw; 
}
.cloud_storage ul li .ebook span {
	background-position: 0 -16vw; 
}
.cloud_storage ul li .templates span {
	background-position: 0 -20vw;
}
.cloud_storage ul li .photos span {
	background-position: 0 -24vw; 
}
.cloud_storage ul li .freebies span {
	background-position: 0 -28vw; 
}
footer {
	height: 6.006vh;
	line-height: 6.006vh;
	background: rgba(255, 255, 255, 0.3);
	width: 100%;
	bottom: 0; 
}
footer .copyright {
	color: #565656;
	font-family: Lato , sans-serif;
	font-size: 0.84vw; 
}
footer nav{
	background: transparent;
	box-shadow: none;
	line-height: 6.006vh;
}
footer nav ul {
	padding: 0;
	list-style: none;
}
footer nav ul li {
	display: inline-block;
	float: none;
}
footer nav ul li a {
	display: block;
	padding: 0 1.26vw;
	font-family: Lato , sans-serif;
	color: #000; 
	font-size: 0.98vw;
}
footer nav ul li a:hover, footer nav ul li a.active {
	color: #1565c0;
	background: transparent;
}
footer .follow_us {
	font-family: Lato , sans-serif;
	font-size: 0.84vw; 
}
footer .follow_us a {
	width: 1.82vw;
	height: 1.82vw;
	border-radius: 50%;
	line-height: 1.82vw;
	text-align: center;
	display: inline-block;
	background: #fff;
	font-size: 1.12vw;
	margin-left: 20px;
	color: #a3a3a3; 
}
footer .follow_us a:hover {
	color: #1565c0; 
}
footer .row{
	margin-bottom: 0;
}
.home_wrap footer {
	position: fixed; 
} 
.login .step1,
.login .step2,
.login .step3{
	position: absolute;
	margin: 0;
	height: 53%;
	width: 100%;
	left: 50vw;
	transition: all 300ms;
	form{
		height: 100%;
	}
}
.step1.active,
.step2.active,
.step3.active{
	left: 0;
	opacity: 1;
} 
.step1.remove,
.step2.remove,
.step3.remove{
	left: -50vw;
	opacity: 0;
}
.material-icons.close{
	cursor: pointer;
}