.top_albums{
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  color: #424242;
  h4{ 
    text-transform: uppercase;
    text-align: center;
  }
}
.album_box{
  min-height: 44px;
  margin-bottom: 15px;
  .picture{
    float: left;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 10px;
    img{
      width: 100%;
    }
  }
  .album_title{
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
  .album_author{
    margin: 0;
    font-size: 12px;
    color: #757575;
  }
}
.rigth_col{
  float: right;
  width: 280px;
  padding: 30px;
  flex-direction: column;
  div{
    margin-bottom: 20px;
    i{
      margin-right: 0;
    }
  }
  .price{ 
    label{
      font-size: 16px;
      color: #616161; 
      margin-right: 15px;
    }
    span{
      font-size: 24px;
      b{
        font-size: 34px;
      }
    }
  }
  .btn{
    padding: 0 5px;
    font-size: 14px;
    width: 180px;
  }
   .report{
      width: 180px;
      text-align: center;
      padding: 0 5px;
  }
}
.lot{
  width: calc(100% - 580px);
  float: left;
  padding: 0 30px;
  margin-top: 30px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  .main_info{
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    .name{
      padding: 10px 0;
    }
    .subtitle{ 
      span{
        text-transform: uppercase;
        color: #bdbdbd;
        margin-right: 10px;
      }
    } 
  } 
  .preview{
    float: left;
    width: 185px;
    height: 185px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 25px;
    img{
      width: 100%;
    }
  }
  .tags{
    margin-top: 35px;
    .tag{
      display: inline-block;
      padding: 0 10px;
      border: 1px solid #eee;
      margin: 5px;
      margin-left: 0;
      height: 26px;
      line-height: 26px;
      border-radius: 4px;
      text-transform: uppercase; 
      cursor: pointer;
    }
  } 
  .rate{
    position: absolute;
    right: 0;
    text-align: center;
    top: 40%;
    width: 44px;
    i{
      position: absolute;
      right: 0;
      top: -10px;
      font-size: 40px;
      color: #ffc107;
    }
    b{
      position: relative;
      z-index: 2;
      font-size: 16px;
      color: #fff;
    }
  }
  .ad_info{
    margin-bottom: 25px;
    & > span{
      display: block;
      float: left;
      width: 50%;
      font-size: 12px;
      label{
        text-transform: uppercase;
        color: #bdbdbd;
        padding: 5px 0;
        display: inline-block;
        width: 40%;
        font-weight: bold; 
      }
    }
  }
  .text_info{
    padding-top: 20px;
  }
}
.text_blue{
  color: #0f7be8;
}
.share{
  height: 44px;
  width: 66%;
  min-width: 370px;
  margin: 15px auto; 
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 0 20px;
  text-align: center;
  line-height: 30px;
  font-weight: 600;
  font-size: 14px;
  padding-top: 7px;
  span{
    display: inline-block;
    margin-left: 10px;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    color: #fff;
    text-align: right;
    padding: 0 10px;
    i{ 
      float: left;
      margin-top: 8px;
    }
    &:first-child{
      margin-left: 0;
      color: #616161;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .facebook{
    background: #4c68b2;
  }
  .twitter{
    background: #00acee;
  }
  .google{
    background: #d73d33;
  }
} 
.comment_block{
  .collection{
    border: none;
    .collection-item{  
      padding: 15px;
      margin-bottom: 10px;
      padding-left: 80px;
      &.author_comment{
        background: #f9f9f9;
      }
      .secondary-content{
        top: 10px;
        font-size: 13px;
        color: #bdbdbd;
      }
      .title{
        font-weight: bold;
      }
      .circle{
        width: 50px;
        height: 50px;
      }
      p{
        font-size: 14px;
        padding: 10px 0;
      }
      .a_label{
        border-radius: 4px;
        background: #fff;
        margin-left: 5px;
        padding: 0 5px;
        font-size: 12px;
        border: 1px solid #bdbdbd;
      }
      &.parent{
        margin-left: 0;
      }
    }
  }
  form{
    position: relative;
  }
  .send_comment{ 
    position: absolute;
    right: 0;
    bottom: 42px;
    padding: 0 10px;
    &:focus{
      background: transparent; 
    }
  }
}
.rangetime{
  position: relative;
  height: 20px;
  input{
    height: 20px;
    margin: 0;
    border: none;
  }
  .thumb {
    display: none;
  }
  .currentpos{
    display: block;
    height: 3px;
    background: #1565C0;
    position: absolute;
    top: 8px;
    z-index: 2;
    pointer-events: none;  
  }
}
.audioplayer{
  .player{
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px;
    line-height: 30px;
    position: relative;
    .fa{
      cursor: pointer;
      margin-right: 10px;
      color: #1565C0;
    }
    .toggle{
      font-size: 30px;
      float: left;
    }
    .duration, .currenttime, .seperate{
      float: right;
    }
    .btn_mute{
      label{
        font-size: 16px;
        border: none!important;
        padding: 0;
        &:after,&:before{
          border: none!important;
        }
      }
    }
    .name{
      width: calc(100% - 215px); 
      text-align: center; 
      background: #ddd;
      border-radius: 4px;
      line-height: 1.5;
      overflow: hidden;
      position: absolute;
      margin-top: 3px;
      left: 120px;
    }
    .mute{
      &:checked{
        &~label{
          .fa{
            &:before{
              content: "\f026";
            }
          }
        }
      }
    }
  }
  .playlist{
    list-style: inside;
    list-style-type: decimal-leading-zero;
    padding-left: 0;
    line-height: 1.5;
    margin: 0;
    background: #f9f9f9;
    li{
      padding: 5px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      width: 100%;
      display: list-item;
      &.playing{
        color: #1565C0;
        &:before{
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f04b";
          margin-right: 5px;
        }
      }
    }
  }
}