@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v14/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?n3srqf');
    src:    url('../fonts/icomoon.eot?n3srqf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?n3srqf') format('truetype'),
        url('../fonts/icomoon.woff?n3srqf') format('woff'),
        url('../fonts/icomoon.svg?n3srqf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-e-books:before {
    content: "\e900";
}
.icon-libraries:before {
    content: "\e901";
}
.icon-graphics:before {
    content: "\e902";
}
.icon-audiobooks:before {
    content: "\e903";
}
.icon-music:before {
    content: "\e904";
}
.icon-photo:before {
    content: "\e905";
}
.icon-effects:before {
    content: "\e906";
}
.icon-templates:before {
    content: "\e907";
}

html, body{
  height: 100%;
}
// *{
//   will-change: inherit !important;
// }
.middle_content{
  min-height: calc(100% - 202px - 6.006vh);
}
header, main, footer {
    padding-left: 0;
}
h2 {
  font-size: 28px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }
.card{
  border-radius: 4px;
}
a{
  color: #1565c0;
}
.video-js{
  width: 100%;
  height: auto;
  .vjs-tech{
    width: 100%;
    position: relative;
  }
  .vjs-big-play-button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 44px;
    background: #1565C0;
    color: #eee;
    border-color: #eee;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    overflow: hidden;
  }
}