 @mixin clr{
 	&:before{
 		display: table;
 		content:' ';
 	}
 	&:after{
 		display: table;
 		clear:both;
 		content:' ';
 	}
 }
 @mixin shadows{
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.32);
 }
 @mixin dotdot{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin circle($x){
  width: $x+px;
  height: $x+px;
  border-radius:50%;
  text-align: center;
  line-height: $x+2+px;
}
@mixin transitions{
 transition: all 300ms;
}
@mixin animation($animate...) {
  $max: length($animate);
  $animations: ''; 
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
} 