@media #{$large-and-up} {
  .container {
    width: 85%;
  }
}
@media screen and (max-width: 1366px) {
  .product_card{
  height: 290px; 
  }
}
@media screen and (min-width: 1367px) {
  .cloud_storage{
	margin: 8vh 0 0 0;
	ul{
		margin: 6vh 0;
	}
} 
}
@media screen and (min-width: 1600px) {
   .search-modal .container .col{
   	margin-bottom: 50px;
   }
   .search-modal h4{
    padding-bottom: 30px;
   }
}
