.balance{
	margin-left: 10px;
	span{
		display: block;
		font-size: 18px;
	}
}
.procent{
	span{
		display: block;
		font-size: 18px;
	}
}
.sold_item{
	border-bottom: 1px solid #eee;
	&:last-child{
		border:none;
	}
}
.tab_links{
	margin-top: 25px;
	font-size: 20px;
	a{
		margin-right: 15px;
		&:first-child{
			border-right: 1px solid #999;
			padding-right: 20px;
		}

	}
}
.charts{
	&> div{
		margin-bottom: 30px;
	}
}