.search-modal{
  width: 100%;
  max-height: none;
  height:100vh;
  padding: 20px;
  background: rgba(30,30,30,0.9); 
  color: #fff;
  font-family: Lato;
  z-index: 100001!important;
  &.open{
    top: 0!important;
  }
  .input-field{
    label{
      font-size: 18px;
      color: #fff;
      left: 20px;
    }
  }
  #search_input:focus{
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    & + label{
      color: #fff;
    }
  }
  .container{
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .col{
      margin-bottom: 10px;
      padding: 0 20px;
    }
    .row{
      margin-bottom: 0;
    }    
  }
  .founded_storage{
    justify-content: space-around;
    .name{
      color: #fff;
      margin: 0;
      transition: all 200ms;
    }
    img{
      transition: all 200ms;
      max-width: 150px;
      max-height: 100px;
    }
    a{
      &:hover{
        img{
          box-shadow: 0 2px 14px #fff;
        }
        .name{
          color: #1565c0;
        }
      }
    }
  }
  .title{ 
    font-size: 16px;
    text-transform: uppercase; 
    a{
      color: #fff;
      transition: all 200ms;
      &:hover{
        color: #8f8f8f;
      }
    }
    span{
      font-size: 12px;
      text-transform: lowercase;
      color: #8f8f8f;
      margin-left: 20px;
    }
    i{
      margin-top: 5px;
      margin-right: 10px;
    }
  }
  ul{
    margin: 5px 0;
    a{ 
      font-weight: 100;
      font-size: 14px;
      line-height: 1.7;
      color:#fff;
      transition: all 200ms;
      span{
        font-weight: normal;
        color: #00c853;
      }
      &:hover{
        color: #8f8f8f;
      }
    }
  }
  .show_all{
    color: #8f8f8f;
    font-size: 12px;
  }
  h4{
    padding-left: 20px;
    .show_all{
      font-size: inherit;
      padding-left: 10px;
      margin-left: 10px; 
      border-left: 1px solid #8f8f8f;
      &:hover{
        color: #fff;
      }
    }
  }
  .modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #fff;
    transform: rotate(45deg);
  }
}