.settings_content{
	width: 75%;
	float: left;
	padding-left: 30px;
	border-left: 1px solid #ccc;
	form{
		margin-top: 15px;
	}
}
.settings_page .dashboard_sidebar {
	width: 25%;
}
.user_block{
	.change_bg{
		width: 90px;
		padding: 0 10px;
		margin: 0 auto;
	}
}