.brandroom_info{   
  overflow: hidden;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.brandroom_header{
  height: 120px;
  display: flex;
  border-radius: 4px;
  align-items: flex-end;
  padding: 10px 15px;
  justify-content: space-between;
  position: relative;
  background: url(../img/default_brandroom_header.jpg);
  p{
    font-size: 24px;
    color: #bdbdbd;
    margin-bottom: 0;
    padding-left: 5px;
    z-index: 2;
    span{
      font-size: 28px;
      color: #fff;
    }
  } 
  .change_bg{
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
  }
}
.left_sidebar{
  width: 200px;
}
.brandroom_profile{ 
  margin-top: 25px;
  .photo{ 
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    img{
      float: left;
      width: 100%;
      height: auto;
    }
  }
  .follows,.followers{
    padding-top: 20px;
    color:#979797;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    span{
      display: block;
    }
    &:hover{
      color: #1565c0;
      cursor: pointer;
    }
  }
  .owner_info{
    font-size: 14px;
    color: #616161;
    font-weight: 300;
    line-height: 38px;
  }
  .slogan_text{
    font-size: 12px;
    color: #757575;
    line-height: 18px;
  }
  .prefers_lots{
    padding: 15px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    span{
      margin-right: 14px;
      line-height: 1.5;
    }
  }
  .profile_link{
    padding-left: 0;
    text-transform: capitalize;
    font-size:  14px;
    color: #1565c0; 
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2px;
    &:hover{
      color: #014479;
    }
  } 
}
.brandroom_content{
  width: calc(100% - 200px);
  margin-top: 25px;
  margin-bottom: 70px;
  float: left;
  padding: 0 30px;
  border-left: 1px solid #eee;
  position: relative;
  .block_news{ 
    .news_list{
      width: 100%;
    }
    .new{
      width: 100%;
      min-height: 50px;
      padding: 5px;
      padding-right: 30%;
      line-height: 40px;
      font-size: 14px;
      color: #424242;
      border-bottom: 1px solid #eee;
      position: relative;
      &:last-child{
        border-bottom: none;
      }
      &:hover{
        cursor: default;
        background: #eee;
      }
      .atouch_file{
        display: inline-block;
        padding: 5px;
        color: #1565c0;
        margin-right: 30px;
        .fa-folder-open-o{
          margin-right: 15px;
        }
        .fa-cloud-download{
          margin-left: 15px;
          color: #bdbdbd;
        }
      }
      p{
        span{
          font-weight: bold;
        }
        a{
          color: #1565c0;
        }
      }
      .new_info{
        position: absolute;
        right: 0;
        top: 5px;
        text-align: right;
        span{
          color: #bdbdbd;
          padding: 0 15px;
          line-height: 1;
          cursor: pointer;
          i{
            font-size: 16px;
            margin-right: 5px;
          }
          &:hover{
            color: #333;
          }
        }
        .del_new{
          display: inline-block;
          font-size: 26px;
          cursor: pointer;
          float: right;
          margin-top: 6px;
          transform: rotate(45deg);
        }
      }
    }
  }
  h2{
    font-family: Lato;
    padding-top: 0;
    margin-top: 0;
    font-size: 28px;
  }
  .compose{
    position: absolute;
    right: 30px;
    top: 0;
    width: 190px;
    text-align: center;
  }
  .show_more{
    position: absolute;
    bottom: -70px;
    i{
      margin-right: 10px;
    }
  } 
}
.photo_carusel{
  height: 125px;
  width: 100%; 
  overflow: hidden;
  margin-bottom: 20px;
  img{
    float: left;
    height: 100%;
    width: auto;
    outline: none;
    margin: 0 1px;
  }
}
.blockProducts{
  h2{
    font-size: 28px;
    color: #1565c0;
    margin-top: 0;
    padding-top: 40px;
  }
}
.filter_lots{
  margin-bottom: 20px;
  .title{  
    color: #757575; 
    font-size: 14px;
    line-height: 36px;
    font-weight: 900; 
    text-transform: uppercase;
    margin-right: 15px;
  }
  .btn{
    margin-top: 10px;
  }
  .filter_group{
    width: 158px;
    .selectbox{
      height: 36px;
      border-radius: 18px;
    }
    .select{
      padding: 0 20px;
      line-height: 36px;
      padding-right: 36px;
      border-radius: 18px;
      .trigger{
        left: auto;
        right: 20px;
        top: 16px;
      }
    }
    .input-field{
      margin-top: 7px;
    }
  } 
  .btn_delete{
    margin-top: 10px;
    i{
      transform: rotate(45deg);
      font-size: 14px;
      margin-right: 5px;
    }
    &:hover{
      color: #999;
    }
  } 
  .sort_by{
    width: auto;
    float: right;
    .selectbox{
      margin-left: 15px;
      width: 158px;
    }
  }
} 
.news_bl{
  color: #616161;
}
.news_box{
  float: left;
  width: 65%;
  padding-right: 25px;
  border-right: 1px solid #eee;
  .back{
    color: #1565c0;
    padding-left: 0;
    text-transform: capitalize;
    cursor: pointer;
    &:hover{
      color: #014479
    }
  }
  a{
    @extend .back;
  }
  .title_new{
    margin: 20px 0; 
  }
  .author_new{
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 48px;
    float: left;
    span{
      float: left;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      margin-right: 20px;
      overflow: hidden;
    }
  }
  .time_new{
    float: right;
    color: #bdbdbd;
    line-height: 48px;
    i{
      margin-right: 5px;
    }
  }
  .text_new{
    font-size: 14px;
    line-height: 1.5;
    margin: 20px 0;
  }
  .file{
    color:#bdbdbd;
    line-height: 36px;
    float: left;
    margin-right: 20px;
    .fa{
      font-size: 36px;
      float: left;
      margin-right: 10px;
    }
  }
  .download_file{
    float: left;
    color: #fff;
    background-color: #00c853;
  }
}
.comments_box{
  width: 35%;
  float: right;
  padding-left: 30px;
  overflow: hidden; 
  .nice_scroll{
    height: calc(100% - 50px);
  }
  .comment{
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    &:last-of-type{
      border: none;
    }
  }
  .author_comment{
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    span{
      float: left;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      margin-right: 20px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    &:hover{
      color: #999;
    }
  }
  .comment_count{ 
    display: inline-block;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px; 
  }
  .write_comment{
    float: right;
    padding: 0 10px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .leave_comment{
    width: 100%;
    display: none;
    button{
      position: absolute;
      right: 10px;
      bottom: 21px;
      padding: 0 10px;
      &:focus{
        background: transparent;
      }
    }
  }
  textarea{
    width: 100%;
    border: none;
    resize: none;
    &:focus{
      outline: none;
    }
  }
  .comment_text{
    font-size: 12px;
    color: #777;
    line-height: 1.5;
    margin: 10px 0;
  }
  .comment_time{
    display: block;
    text-align: right;
    font-size: 12px;
    color: #bdbdbd; 
    i{
      font-size: 14px;
      margin-right: 5px;
    }
  }
}
/* Slider photo */
.slick-slider
{
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.photo_carusel .slick-arrow{
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
  color: #fff;
  font-size: 20px;
  width: 30px;
  line-height: 125px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  transition: all 300ms;
  &:hover{
    background: rgba(0,0,0,0.3);
  }
}
.photo_carusel .slick-arrow.slick-next{
  left: auto;
  right: 0;
}
.photo_carusel div{
  height: 100%
}
.cropImgWrapper {
    height: 120px!important;
    margin-top: -120px!important;
}
form.new_brandroom_cover_imgUploadForm {
    display: none;
}
div#new_brandroom_cover {
    position: relative;
}