<template>
    <div class="container settings_page middle_content">
        <div class="row">
            <div class="col s12" v-if="loadedWorkspace">
                <h2>Workpace</h2>
                <div class="row col s12 yellow lighten-2" v-if="workspace.project.status == 'personal'">
                    <h3>
                        Brandroom just not approved this project. Please wait...
                    </h3>
                </div>
                <div class="row col s12">
                    <div class="col s3">
                        <div class="alert alert-success">
                            <div class="media">
                                <a class="pull-left" href="/users/stav.design/" target="_blank">
                                    <img class="media-object" v-bind:src="workspace.brandroom.logo" width="75px" style="padding-right: 10px;">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Brandroom</h4><br>
                                    <p>{{ workspace.brandroom.title }}</p>
                                    <p>last activiry:
                                        <span>21:17 04.09.16</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="well well-small" style="word-wrap: break-word; overflow: hidden">
                            <div class="readmore">
                                <h4 class="proj_title">{{ workspace.project.title }}</h4>

                                <!-- Информация о проекте -->
                                <ul class="unstyled list-unstyled">
                                    <li>
                                        <strong>Status:</strong> <span class="ws-project-status-name">{{ workspace.project.status }}</span>
                                    </li>
                                    <li>
                                        <strong>Deadline:</strong> <span>{{ workspace.project.deadline }}</span>
                                    </li>
                                    <li>
                                        <strong>Price:</strong> <span class="ws-project-info-cost">{{ workspace.project.price }} $</span>
                                    </li>
                                </ul>
                                <p>
                                    <strong>Description:</strong>
                                    <br>
                                    <span class="ws-project-info-description">{{ workspace.project.description }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <h3>Project Files</h3>
                        <p v-for="file in workspace.project.media"><a href="{{file.url}}">{{file.name}}</a></p>
                    </div>
                    <div class="row col s3">
                        <h3>Product Files</h3>
                        <p v-for="file in workspace.products"><a href="{{file.url}}">{{file.name}}</a></p>
                        <div class="row col s12" v-if="!isUser">
                            <button type="button" class="btn btn-primary orange"
                                    @click="showFormUploadProduct = !showFormUploadProduct">Upload Product</button>
                            <div class="col s12" v-show="showFormUploadProduct" transition="expand">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="file-field input-field">
                                            <div class="btn">
                                                <span>File</span>
                                                <input id="product" type="file" name="files[]" multiple @change="uploadProductFile">
                                                <div class="progress-bar-area"></div>
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="description" class="materialize-textarea" v-model="product.description"></textarea>
                                            <label for="description">Description</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary green col s12" @click="uploadProduct">Submit Product</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" @click="copleteProject()" v-if="">
                    Complete work on this project
                </button>
                <div class="row col s12">
                    <ul class="collection">
                        <li class="collection-item avatar" v-for="message in messages">
                            <img src="/img/user_photo.jpg" alt="" class="circle">
                            <span class="title">{{ message.sender.name }}</span>
                            <br>
                            <p>{{ message.text }}</p>
                            <a href="#!" class="secondary-content">{{ message.created_at }}</a>
                            <p v-for="file in message.media"><a href="{{file.url}}">{{file.name}}</a></p>
                        </li>
                    </ul>
                    <form id="sendMessage" v-el:form-message v-if="!isCompletedProject">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="chat-message" class="materialize-textarea" v-model="message.text"></textarea>
                                <label for="chat-message">Textarea</label>
                            </div>
                            <div class="col s12">
                                <div class="row">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input id="files" type="file" name="files[]" multiple @change="uploadFile">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" @click="sendMessage()" v-el:send">Send</button>
                        </div>
                    </form>
                </div>
                <button type="button" class="btn btn-primary green" v-if="canCompleteProject" @click="completeProject">Complete Project</button>
            </div>
        </div>
    </div>
</template>
<style>
    .expand-transition {
        transition: all .3s ease;
        height: 300px;
        padding: 10px;
        overflow: hidden;
    }
    .expand-enter, .expand-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
    }
</style>
<script>
    import Auth from '../../auth'
    import UploadFilesToS3 from '../../mixins/upload-files.vue'
    export default {
        data() {
            return{
                user: Auth.getCurrentUser(),
                showFormUploadProduct: false,
                loadedWorkspace: false,
                workspace: {},
                messages: [],
                product: {
                    files: [],
                },
                message: {
                    files: []
                },
            }
        },
        mixins: [UploadFilesToS3],
        route: {
            activate ({ next }) {
                this.getWorkspace().then((workspace) => {
                    this.initMember()
                    this.getMessages()
                })
                next()
            }
        },
        computed: {
            isUser() {
                return this.user.id == this.workspace.project.customer.id
            },
            canCompleteProject() {
                return this.workspace.project.status == 'in-progress' && this.isUser && this.workspace.products.length
            },
            isCompletedProject() {
                return this.workspace.project.status == 'completed'
            }
        },
        methods:{
            getWorkspace() {
                return new Promise((resolved, reject)=> {
                    this.$http.get('workspaces/' + this.$route.params.id).then((response) => {
                        this.workspace = response.data.workspace
                        this.loadedWorkspace = true
                        resolved(this.workspace)
                    }, (err) => {
                        console.log(err)
                        reject()
                    });
                })
            },
            getMessages() {
                this.$http.get('chats/' + this.workspace.chat_id + '/messages').then((response) => {
                    this.messages = response.data.messages
                });
            },
            sendMessage() {
                this.$http.post('chats/' + this.workspace.chat_id + '/messages', this.message).then((response) => {
                    this.$els.formMessage.reset()
                });
            },
            readMessage(message) {
                this.$http.put('/messages/' + message.id).then((response) => {
                    message.read = true
                });
            },
            initMember() {
                socket.emit('join-member-to-chat', this.workspace.chat_id, {id: this.user.id});
            },
            uploadFile(event) {
                this.message.files = []
                this.uploadFileToS3(event, 'projects/create/s3', this.message)
            },
            completeProject() {
                this.$http.post('projects/' + this.workspace.project.id + '/complete').then((response) => {
                    this.workspace.project.status = 'completed'
                })
            },
            uploadProductFile(event) {
                this.product.files = []
                this.uploadFileToS3(event, 'workspace/' + this.$route.params.id + '/product/s3', this.product)
            },
            uploadProduct() {
                this.$http.post('workspace/' + this.$route.params.id + '/products/upload', this.product).then((response) => {
                    this.workspace.products.push(response.data.product)
                    this.showFormUploadProduct = false
                })
            },
        },
        components:{

        },
        ready() {
            $('ul.tabs').tabs()

            socket.on('send-chat-message', (message) => {
                this.messages.push(JSON.parse(message))
            });
        }
    }
</script>
