<template>
    <div class="input-field">
        <div id="price-range" class="range-slider"></div>
    </div>
    <div class="row from_to">
        <div class="input-field col s6">
            <input type="text" id="min_price" name="price[min]" value="{{ min }}">
        </div>
        <div class="input-field col s6">
            <input type="text" id="max_price" name="price[max]" value="{{ max }}">
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        props: ['max', 'min'],
        methods: {
            initPrice() {
                var max = this.max * 1 || 200;
                var min = this.min * 1 || 0;
                var price_range = document.getElementById('price-range');
                var min_price = document.getElementById('min_price');
                var max_price = document.getElementById('max_price');

                if (price_range) {
                    noUiSlider.create(price_range, {
                        start: [min, max],
                        connect: true,
                        step: 1,
                        range: {
                            'min': min,
                            'max': max
                        },
                        format: wNumb({
                            decimals: 0
                        })
                    });
                }

                price_range.noUiSlider.on('set', function( values, handle) {
                    var value = values[handle];

                    if ( handle ) {
                        max_price.value = value;
                        $('#max_price').change();
                    } else {
                        min_price.value = value;
                        $('#min_price').change();
                    }
                });

                max_price.addEventListener('keyup', function(){
                    price_range.noUiSlider.set([null, this.value]);
                });

                min_price.addEventListener('keyup', function(){
                    price_range.noUiSlider.set([this.value, null]);
                });
            }
        },
        ready() {
            this.initPrice();
        }
    }
</script>