<template>
    <div class="input-field">
        <select name="sales">
            <option value="">Show all</option>
            <option value="rank-0">No Sales - 0</option>
            <option value="rank-1">Low - 0</option>
            <option value="rank-2">Medium - 6</option>
            <option value="rank-3">High - 8</option>
            <option value="rank-4">Top Sellers - 0</option>
        </select>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        props: [],
        directives: {  },
        ready() {
        }
    }
</script>