<template>
    <div class="input-field">
        <select name="sort">
            <option value="top">Top</option>
            <option value="new">New</option>
            <option value="price_low">Price low</option>
            <option value="price_high">Price height</option>
        </select>
    </div>
</template>