<template>
    <input type="text" name="tags" v-model="tags" id="multiple_select" placeholder="Type here" data-role="materialtags"/>
</template>

<script>
    import config from '../../config/index'

    export default {
        data() {
            return {
                tags: ''
            }
        },
        methods: {
            init() {
                var tags = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    prefetch: config.api.base_url + '/tags/list'
                });

                tags.initialize();

                var elt = $('#multiple_select');

                elt.materialtags({
                    itemValue: 'id',
                    itemText: 'name',
                    typeaheadjs: {
                        name: 'tags',
                        displayKey: 'name',
                        source: tags.ttAdapter(),
                    }
                });
            }
        },
        ready() {
            this.init();
        }
    }
</script>