<template>
    <h3>Your card:</h3>
    <form v-if="user.payment.stripe_id == null" id="settingsBillingStripe" @submit.prevent="updateBillingStripe">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="card" data-stripe="number" id="card" />
                <label for="card">Credit card number</label>
            </div>
            <div class="input-field col s2">
                <input type="text" name="cvc" data-stripe="cvc" id="cvc" />
                <label for="cvc">CVC</label>
            </div>
            <div class="input-field col s2">
                <input type="text" name="mm" data-stripe="exp_month" id="mm" />
                <label for="mm">Exp. month</label>
            </div>
            <div class="input-field col s2">
                <input type="text" name="yy" data-stripe="exp_year" id="yy" />
                <label for="yy">Exp. year</label>
            </div>
        </div>
        <button class="btn waves-effect right add_card">Add card</button>
    </form>
    <div v-else class="row">
        <div class="col s12">
            <ul class="collection">
                <li class="collection-item dismissable"><div>{{user.payment.card_type}}...{{user.payment.card_four}}<a href="#!" class="btn right waves-effect waves-teal">Change</a></div></li>
            </ul>
        </div>
    </div>
    <h3>Your PayPal:</h3>
    <form id="settingsBillingPayPal" @submit.prevent="updateBillingPayPal">
        <div class="row">
            <div class="input-field col s8">
                <input id="paypal_email" type="text" name="paypal_email" value="{{user.payment.paypal_email}}">
                <label for="card">PayPal Email</label>
            </div>
        </div>
        <button class="btn waves-effect right">Save</button>
    </form>
</template>

<script>
    import Auth from '../../../auth'
    export default {
        data() {
            return {
                form: '#settingsBilling',
                billing: {},
                user: Auth.getCurrentUser()
            }
        },
        methods: {
            updateBillingStripe() {
//                this.validate();

//                if (!$(this.form).valid()) {
//                    return false;
//                }
                Stripe.setPublishableKey('pk_test_ihi5Bf0QElWRckdDy148NYVd');
                var $form = $('#settingsBillingStripe');

                // Disable the submit button to prevent repeated clicks:
                $form.find('.add_card').prop('disabled', true);

                // Request a token from Stripe:
                Stripe.card.createToken($form, this.stripeResponseHandler);

                // Prevent the form from being submitted:
                return false;
            },
            stripeResponseHandler(status, response){
                // Grab the form:
                var $form = $('#settingsBillingStripe');

                if (response.error) { // Problem!

                    // Show the errors on the form:
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('.submit').prop('disabled', false); // Re-enable submission

                } else { // Token was created!

                    // Get the token ID:
                    var token = response.id;

                    // Insert the token ID into the form so it gets submitted to the server:
                    $form.append($('<input type="hidden" name="stripeToken">').val(token));

                    // Submit the form:
                    var stripe_data = $form.serializeJSON();
                    this.$http.post('profile/settings/stripe', stripe_data).then((response) => {
                        alert('Card add');
                    });
                }
            },
            updateBillingPayPal(){
                var paypal_data = $('#settingsBillingPayPal').serializeJSON();
                this.$http.post('profile/settings/paypal', paypal_data).then((response) => {
                    alert('PayPal change')
                })
            },
            validate() {
                $(this.form).validate({
                    rules: {
                        card: {
                            required: true,
                            creditcard: true
                        },
                        date: {
                            required: true,
                            date: true
                        },
                        cvc: {
                            required: true,
                            number: true,
                            minlength: 3,
                            maxlength: 3,
                        }
                    },
                    errorElement : 'div',
                    errorPlacement: function(error, element) {
                        var placement = $(element).data('error');
                        if (placement) {
                            $(placement).append(error)
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
            }
        },
        components:{}
    }
</script>
