<template>
    <form id="settingsProfile" @submit.prevent="updateProfile">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" name="name" v-model="profile.name">
                <label class="active" for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" v-model="profile.name">
                <label class="active" for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password" type="password" name="password" v-model="profile.password">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s6">
                <input id="email" type="email" name="email" v-model="profile.email">
                <label class="active" for="email">Email</label>
            </div>
        </div>
        <button class="btn waves-effect right">Update profile</button>
    </form>
</template>

<script>
    export default{
        data(){
            return {
                form: '#settingsProfile',
                profile: {}
            }
        },
        components:{},
        methods: {
            getProfile() {
                this.$http.get('profile/settings/profile').then((response) => {
                    this.profile = response.data.profile;
                }, (err) => {
                    console.log();
                });
            },
            updateProfile() {
                this.validate();

                if (!$(this.form).valid()) {
                    return false;
                }

                this.$http.put('profile/settings/profile', this.profile).then((response) => {
                }, (err) => {
                    console.log();
                });

            },
            validate() {
                $(this.form).validate({
                    rules: {
                        name: {
                            required: true,
                            minlength: 5
                        },
                        email: {
                            required: true,
                            email:true
                        },
                    },
                    errorElement : 'div',
                    errorPlacement: function(error, element) {
                        var placement = $(element).data('error');
                        if (placement) {
                            $(placement).append(error)
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
            }
        },
        created() {
            this.getProfile();
            initStyleElements();
        }
    }
</script>
