<template>
    <div class="container settings_page middle_content">
        <div class="row">
            <div class="col s12">
                <h2>Settings</h2>
                <div class="dashboard_sidebar col">
                    <div class="user_block">
                        <div class="user_photo">
                            <img src="../img/default_photo.png" alt="Photo">
                        </div>
                        <div class="user_name">{{ user.name }}</div>
                        <a class="waves-effect btn change_bg"><i class="material-icons">add</i><i class="material-icons ">picture_in_picture</i></a>
                    </div>
                </div>
                <div class="settings_content">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s3"><a class="active" href="#profile">Profile</a></li>
                                <li class="tab col s3"><a href="#billing">Billing</a></li>
                                <li class="tab col s3"><a href="#notification">Notification</a></li>
                            </ul>
                        </div>
                        <div id="profile" class="col s12">
                            <profile></profile>
                        </div>
                        <div id="billing" class="col s12">
                            <billing></billing>
                        </div>
                        <div id="notification" class="col s12">
                            <notification ></notification>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import Notification from './notification.vue'
    import Profile from './profile.vue'
    import Billing from './billing.vue'
    import Auth from '../../../auth'
    export default{
        data() {
            return {
                user: Auth.getCurrentUser()
            }
        },
        components: {Profile, Billing, Notification},
        ready() {
            $('ul.tabs').tabs();
        }
    }
</script>
