<template>
    <div class="input-field">
        <select v-select="category" name="category">
            <option value="">All categories</option>
            <option v-for="category in categories " track-by="$index" v-bind:value="category.id">{{ category.title }}</option>
        </select>
    </div>
</template>

<script>
    import Select from '../../../../directives/select.vue';
    export default {
        data() {
            return {
                category: '',
            }
        },
        props: [ 'categories' ],
        directives: { Select },
        watch: {
            'category'(val) {
                this.$nextTick(() => {
                    this.$parent.buildFilter(val);
                });
            },
        },
    }
</script>