<template>
    <div class="col s12">
        <div class="col s2 valign filter-group">
            <span>Select category</span>
            <category :categories="categories"></category>
            <div class="input-field">
            </div>
        </div>
        <div class="col s2  valign filter-group">
            <span>Price</span>
            <price max="200" min="0"></price>
        </div>
        <div class="col s2  valign filter-group">
            <span>Sales</span>
            <sales max="200" min="0"></sales>
        </div>
        <div class="col s2 valign filter-group">
            <span>Sort items</span>
            <sort></sort>
        </div>
    </div>
</template>

<script>

    import Category from './category.vue';
    import Sort from '../../../filter/sort.vue';
    import Sales from '../../../filter/sales.vue';
    import Price from '../../../filter/price.vue';
    export default{
        data(){
            return{
                data: {},
            }
        },
        methods: {
        },
        components: { Price, Sort, Sales, Category },
        created(){

        }
    }
</script>