<template>
    <div class="container">
        <h2 class="grey-text text-darken-4 center-align">Login</h2>
        <div class="row">
            <div class="col s12">
                <div class="col s8">
                    <authorization></authorization>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Authorization from '../../components/header/auth/authorization.vue';
    import { loginUser } from '../../vuex/actions'
    export default{
        data() {
            return {

            }
        },
        methods: {

        },
        components: { Authorization },
    }
</script>