<template>
    <div v-if="!user">
        <a class="waves-effect waves-teal btn-flat modal-trigger auth_modal" href="#auth_modal">
            <i class="fa fa-sign-in"> </i> Sign In
        </a>
        <div id="auth_modal" class="modal" style="width: 45%">
            <authorization></authorization>
        </div>
    </div>
    <logout v-if="user"></logout>
</template>

<script>
    import Logout from './logout.vue'
    import Authorization from './authorization.vue'
    import Auth from '../../../auth'
    export default{
        data() {
            return {
                user: Auth.getCurrentUser()
            }
        },
        components: {Logout, Authorization},
    }
</script>