<template>
    <section class="s6 autorization" id="auth">
        <div class="col s12 card">
            <h5 class="center-align">Get Started</h5>
            <i class="material-icons close" @click="back" v-if="step!=1">close</i>
            <div class="login">
                <div v-bind:class="step === 1 ? 'active' : 'remove'" class="step1 row">
                    <check></check>
                </div>
                <div v-bind:class="step === 2 ? 'active' : 'remove'" class="step2 row">
                    <login></login>
                </div>
                <div v-bind:class="step === 3 ? 'active' : 'remove'" class="step3 row">
                    <register></register>
                </div>
            </div>
            <div class="row footer_login">
                <div class="col s12">
                    <div class="col s12 join_with"><span>or login with</span></div>
                    <div class="col s6">
                        <a class="waves-effect waves-light deep-purple darken-4 btn col s12" @click="socialLogin('/login/facebook')"><i class="fa fa-facebook"></i>Facebook</a>
                    </div>
                    <div class="col s6">
                        <a class="waves-effect waves-light red darken-3 btn col s12" @click="socialLogin('/login/google')"><i class="fa fa-google"></i>Google</a>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Check from './forms/check.vue'
    import Login from './forms/login.vue'
    import Register from './forms/register.vue'
    import { loginUser } from '../../../vuex/actions'
    export default{
        data() {
            return {
                email: '',
                name: '',
                password: '',
                confirmPassword: '',
                avatar: '',
                terms: false,
                step: 1,
            }
        },
        methods: {
            back() {
                this.step = 1;
                this.name = this.password = this.confirmPassword = null;
                $("#email_in").focus();
            },
            socialLogin(url){
                localStorage.setItem('authenticated', true)
                window.location.href = url;
            }
        },
        components: { Check, Login, Register },
        created(){
            this.$nextTick(() => {
                $('.modal-trigger.auth_modal').leanModal();
            });
        }
    }
</script>