<template>
    <span class="col right dropdown-button profile_dropdown" href="#!" data-activates="user_menu">
        Hi, {{ user.name }}<i class="material-icons right">arrow_drop_down</i>
    </span>
    <ul id="user_menu" class="dropdown-content profile_setting">
        <template v-if="user.brandroom">
            <li><a v-link="{ path: '/brandroom'} " class="add" href="#"><i class="fa fa-store"></i>My Brandroom</a></li>
            <li><a v-link="{ path: '/brandroom/products/upload'} " class="add" href="#"><i class="fa fa-plus"></i>Add Product</a></li>
        </template>
        <template v-else>
            <li><a v-link="{ path: '/brandroom/create'} " class="add"><i class="fa fa-plus"></i>Create brandroom</a></li>
        </template>
        <li><a v-link="{path: '/profile/account'} "><i class="fa fa-bell"></i>Account<strong>{{user.balance}}</strong></a></li>
        <li><a v-link="{path: '/profile/feed'} "><i class="fa fa-bell"></i>Feed</a></li>
        <li><a v-link="{path: '/profile/projects'} "><i class="fa fa-briefcase"></i>Projects</a></li>
        <li><a v-link="{path: '/profile/download'} "><i class="fa fa-list-alt"></i>Downloads</a></li>
        <li><a v-link="{path: '/wishroom'} "><i class="fa fa-star"></i>Wishroom</a></li>
        <li><a v-link="{name: 'profile-settings'} "><i class="fa fa-cog"></i>Settings</a></li>
        <li><a v-link="{path: '/logout'}"><i class="fa fa-sign-out"></i>Log out</a></li>
    </ul>
    <div class="col user_foto right s2">
        <img :src="user.avatar" alt="profile" class="circle responsive-img">
    </div>
</template>

<script>
    import Auth from '../../../auth'
    export default{
        data(){
            return{
                user: Auth.getCurrentUser()
            }
        },
        ready() {
            $('.profile_dropdown').dropdown();
        }
    }
</script>