<template>
    <div class="catalog_content" v-if="data.products">
        <div class="container">
            <h2 class="grey-text text-darken-4 center-align">{{ data.category.title }}</h2>
            <div class="filter_lots row">
                <form class="form_products_filter">
                    <input  type="hidden" name="page" v-model="data.products.current_page">
                    <filter  :categories="data.category.children"></filter>
                </form>
            </div>
        </div>
        <div class="blockProducts">
            <div class="container">
                <div class="row">
                    <div class="top_repo">
                        <p class="left-align">Top-16 Music brandrooms:</p>
                        <list-brandrooms :brandrooms="data.brandrooms"></list-brandrooms>
                    </div>
                </div>
                <list-products :products="data.products"></list-products>
            </div>
        </div>
    </div>
</template>
<style>
    .grey-text{
        min-height: 30px;
    }
</style>
<script>
    import Mixins from '../../mixins/mixins.vue';
    import ListProducts from '../list-products/list-products.vue';
    import ListBrandrooms from './list-brandrooms.vue';
    import Filter from './filter/filter.vue';
    export default{
        data() {
            return {
                data: {
                    products: {},
                    brandrooms: {},
                    category: {},
                },
            }
        },
        head: {
            title: {
                inner: 'It will be a pleasure'
            },
            // Meta tags
            meta: [
                { name: 'application-name', content: 'Name of my application' },
                { name: 'description', content: 'A description of the page', id: 'desc' }, // id to replace intead of create element
                // ...
                // Twitter
                { name: 'twitter:title', content: 'Content Title' },
                // with shorthand
                { n: 'twitter:description', c: 'Content description less than 200 characters'},
                // ...
                // Google+ / Schema.org
                { itemprop: 'name', content: 'Content Title' },
                { itemprop: 'description', content: 'Content Title' },
                // ...
                // Facebook / Open Graph
                { property: 'fb:app_id', content: '123456789' },
                { property: 'og:title', content: 'Content Title' },
                // with shorthand
                // ...
            ],
            script: [
                // with shorthand
                { t: 'application/ld+json', i: '{ "@context": "http://schema.org" }' }
                // ...
            ],
            style: [
                { type: 'text/css', inner: 'body { background-color: #000; color: #fff}', undo: false }
                // ...
            ]
        },
        mixins: [Mixins],
        methods: {
            getProducts() {
                var params = $('.form_products_filter').serializeJSON();
                this.$http.get(this.$route.path.substr(1), params).then((response) => {
                    this.data = response.data.data;
                    this.$nextTick(() => {
                        initStyleElements();
                    });
                }, (err) => {
                    console.log(err);
                });
            },
        },
        route: {
            canReuse: function (transition) {
                transition.to
            },
        },
        components: {ListProducts, ListBrandrooms, Filter},
        ready() {
            var self = this;

            self.$nextTick(() => {
                self.getProducts();
            });

            self.$nextTick(() => {
                $(document).on('change', '.form_products_filter', function(e) {
                    self.resetPage();
                    self.getProducts();
                });
            });
        }
    }
</script>