<template>
    <a v-link="{ path: brandroom.alias }" class="repo" v-for="brandroom in brandrooms">
        <div class="author_photo"><img v-bind:src="brandroom.logo" alt=""></div>
        <p class="author_name">{{ brandroom.title }}</p>
    </a>
</template>
<style>

</style>
<script>
    export default{
        data(){
            return{
            }
        },
        props: ['brandrooms'],
        created() {
        }
    }
</script>