<template>
    <div class="container settings_page middle_content">
        <div class="row">
            <div class="col s12">
                <div class="col s12">
                    <h2 class="left">Create Project</h2>
                    <a v-link="{naem: 'profile-projects'}" class="waves-effect waves-light btn right">All Projects</a>
                </div>
                <div class="row prop">
                    <project-form :project="project" @submit-project="createProject"></project-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Auth from '../../../../auth'
    import ProjectForm from './form.vue'
    export default{
        data(){
            return{
                project: {
                    files: []
                }
            }
        },
        methods: {
            createProject(project, brandroom = '') {
                this.$http.post('projects/create' + (brandroom ? '/' + brandroom : '') , project).then((response) => {
                    if(brandroom) {
                        this.$route.router.go('/workspaces/' + response.data.workspace.id)
                    } else {
                        this.$route.router.go('/projects/' + response.data.project.id)
                    }

                }, (err) => {
                    console.log(err)
                })
            }
        },
        components:{ ProjectForm },
        ready() {
        }
    }
</script>
