<template>
    <form id="formProject" @submit.prevent="submitProject" enctype="multipart/form-data">
        <div>
            <div class="product_type col s12">
                <ul class="category_list valign-wrapper">
                    <li @click="chooseCategory(category.id)"
                        v-for="category in categories"
                        v-if="category.parent == 0">
                            <span class="btn-floating btn-large waves-effect" v-bind:class="{ 'active':  category.id == active }" :class="'color_' + category.alias">
                                <i class="icon-{{ category.alias }}"></i>
                            </span>
                    </li>
                </ul>
            </div>
            <div class="product_prop col s12">
                <select-subcategory :categories="subcategories" v-if="subcategories.length"></select-subcategory>
            </div>
            <div class="col s12">
                <div class="col s4">
                    <h4>Title</h4><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" id="title" name="title" v-model="project.title">
                            <label for="title">Title</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="col s12">
                <div class="col s4">
                    <h4>Description</h4><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="description" id="description" class="materialize-textarea" v-model="project.description"></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="col s12">
                <div class="col s4">
                    <h4>Price</h4><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" id="price" name="price"  v-model="project.price">
                            <label for="price">Price</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="col s12">
                <div class="col s4">
                    <h4>Files</h4><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input id="files" type="file" name="files[]" multiple @change="uploadFile">
                                <div class="progress-bar-area"></div>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="col s12">
                <div class="col s4">
                    <h4>Deadline</h4><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="file-field input-field">
                            <input type="date" id="deadline" class="datepicker" v-model="project.deadline">
                            <label for="deadline">Date</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <button type="submit" class="btn waves-effect waves-light right">Submit</button>
            </div>
        </div>
    </form>
</template>

<script>
    import SelectSubcategory from './select-subcategory.vue'
    import ValidationRules from './validate'
    import UploadFilesToS3 from '../../../../mixins/upload-files.vue'
    export default {
        data() {
            return {
                categories: [],
                subcategories: [],
                category: 0,
                active: 0,
                form: '#formProject',
                formData: {
                    params: {},
                    url:''
                }
            }
        },
        mixins: [UploadFilesToS3],
        props: ['project'],
        methods: {
            chooseCategory(id) {
                this.attributes = [];
                var subcategories = this.categories.filter(function(category){
                    return category.parent == id;
                });

                this.subcategories = subcategories;
                this.project.category = id;
                this.active = id;
            },
            getCategories() {
                this.$http.get('categories/all').then((response) => {
                    this.categories = response.data.categories;
                }, (err) => {
                    console.log(err);
                });
            },
            submitProject() {
                this.validate();

                if (!$(this.form).valid()) {
                    return false;
                }

                this.$emit('submit-project', this.project, this.$route.params.brandroom || '')
            },
            validate() {
                $(this.form).validate(ValidationRules);
            },
            uploadFile(event) {
                this.uploadFileToS3(event, 'projects/create/s3', this.project)
            },
        },
        components:{ SelectSubcategory },
        ready() {
            this.getCategories()
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
        }
    }
</script>
