<template>
    <div class="col s4">
        <h4>Subcategory</h4><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quos quo, veniam velit ducimus.
    </div>
    <div class="col s8">
        <div class="row">
            <div class="input-field col s12">
                <select v-select="$parent.project.category_id">
                    <option value="">All categories</option>
                    <option v-for="category in categories" v-bind:value="category.id">{{ category.title }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    import Select from '../../../../directives/select.vue';
    export default {
        data() {
            return {
            }
        },
        props: ['categories'],
        directives: { Select },
        ready() {
            initStyleElements();
        }
    }
</script>