<template>
    <div class="container">
        <h2 class="grey-text text-darken-4 center-align">Shopping Cart</h2>
        <div class="row" v-if="!cart.products.length">
            <h3>Cart is empty</h3>
        </div>
        <div class="row" v-if="products.length">
            <div class="col s9 products">
                <div class="col s12">
                    <div class="row">
                        <div class="waves-effect btn grey lighten-5 grey-text text-darken-2 continue_shopping">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>Continue Shopping
                        </div>
                        <div class="waves-effect btn grey lighten-3 black-text empty_cart" @click="clearCart()">Empty Cart</div>
                    </div>
                    <products :products="products" v-show="step == 1"></products>
                    <payment :cart="cart" v-show="step == 2"></payment>
                </div>
            </div>
            <div class="col s3 total_sum">
                <div class="center-align">You have <b v-if="cart.products">{{ cart.products.length }}</b> items in your cart</div>
                <div class="total_price">
                    <p class="left">Total</br>Summary</p>
                    <span class="green-text text-accent-4 right"><i>$</i>{{ cart.total }}</span></div>
            </div>
        </div>
    </div>
</template>
<style>

</style>
<script>
    import { cart } from '../../vuex/getters'
    import { updateCart } from '../../vuex/actions'
    import Products from './products.vue'
    import Payment from './payment.vue'
    import Auth from '../../auth'
    export default{
        data(){
            return{
                products: [],
                step:1
            }
        },
        vuex: {
            getters: {
                cart: cart
            },
            actions: {
                updateCart
            }
        },
        methods: {
            /**
             * Get products form cart
             */
            getCartProducts() {
                this.$http.get('cart').then((response) => {
                    this.products = response.data.data.products;
                }, (err) => {
                    console.log(err);
                });
            },

            /**
             * Empty cart
             */
            clearCart() {
                this.$http.delete('cart/').then((response) => {
                    this.products = []
                    this.updateCart(response.data)
                }, (err) => {
                    console.log(err);
                });
            }
        },
        components:{
            Products,
            Payment
        },
        ready() {
            this.getCartProducts();
       }
    }
</script>