<template>
    <div class="row">
        <div class="btn left accent-4 waves-effect" @click="back">Back</div>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1">Your account</a></li>
                <li class="tab col s3"><a href="#test2">Card</a></li>
                <li class="tab col s3"><a href="#test3">PayPal</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            <div class="row">
                <div class="col s8">
                    <p>In your account:{{user.balance}}</p>
                </div>
                <div class="col s4">
                    <button type="button" class="btn waves-effect waves-teal" @click="payAccount">Pay</button>
                </div>
            </div>
        </div>
        <div id="test2" class="col s12">
            <div class="col s8">
                <p>In your account:{{user.payment.card_type}} {{user.payment.card_four}}</p>
            </div>
            <div class="col s4">
                <button type="button" class="btn waves-effect waves-teal" @click="payStripe">Pay</button>
            </div>
        </div>
        <div id="test3" class="col s12">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <div class="col s12">
                    <input type="hidden" name="cmd" value="_xclick" />
                    <input type="hidden" name="business" value="cloudpire.com-facilitator@gmail.com" />
                    <input type="hidden" name="item_name" value="{{user.email}}" />
                    <input type="hidden" name="amount" value="{{cart.total}}"  />
                    <input type="hidden" name="return" value="/profile/account" />
                    <input type="hidden" name="notify_url" value="/paypal_return" />
                    <button type="submit" class="btn waves-effect waves-teal">Pay</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import Auth from '../../auth'
    export default{
        data(){
            return{
                user: Auth.getCurrentUser()
            }
        },
        methods:{
            back(){
                this.$parent.step = 1
            },
            payAccount(){
                var amount = this.cart.total;
                this.$http.post('cart/buy/account', {'products': this.$parent.products, 'amount': amount}).then((response) => {
                    Auth.update();
                    this.$route.router.go('/profile/download');
                });
            },
            payStripe(){
                var amount = this.cart.total;
                this.$http.post('cart/buy/stripe', {'products': this.$parent.products, 'amount': amount}).then((response) => {
                    this.$route.router.go('/profile/download');
            });
            }
        },
        props: ['cart'],
        components:{

        },
        ready() {
            $('ul.tabs').tabs();
        }
    }
</script>
