<template>
    <div class="row">
        <div v-for="product in products">
            <div class="col s12">
                <div class="product_photo left"><img src="../img/brandroom_img1.jpg" alt="photo"></div>
                <div class="products_name  grey-text text-darken-2">{{ product.title }}</div>
                <div class="product_by  grey-text text-darken-1">
                    Product by <a v-link="product.brandroom.alias">{{ product.brandroom.title }}</a>
                </div>
                <div class="delete btn-flat grey-text right" @click="deleteFromCart(product)">
                    <i class="fa fa-times" aria-hidden="true"></i> Delete
                </div>
                <div class="product_price green-text text-accent-4"><span>$</span>{{ product.price }}</div>
            </div>
            <div class="divider col s12"></div>
        </div>
        <div class="btn right green accent-4 waves-effect" @click="next">Next</div>
    </div>
</template>

<script>

    export default{
        data(){
            return{

            }
        },
        methods:{
            /**
             * Delete product from cart
             *
             * @param product_id
             */
            deleteFromCart(product) {
                this.$http.delete('cart/' + product.id).then((response) => {
                    this.products.splice(this.products.indexOf(product), 1);
                    this.$parent.updateCart(response.data.data.cart);
                }, (err) => {
                    console.log(err);
                });
            },
            next(){
                this.$parent.step = 2
            }
        },
        props:['products'],
        components:{

        }
    }
</script>
