<template>
    <div v-for="attribute in attributes">
        <div class="row prop">
            <div class="col s4">
                <h4>Title</h4></br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quos quo, veniam velit ducimus.
            </div>
            <div class="col s8">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="title" id="title">
                        <label for="title">Title</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row prop" v-if="attribute.type.name == 'text'">
            <div class="col s4">
                <h4>{{ attribute.title  }}</h4></br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quos quo, veniam velit ducimus.
            </div>
            <div class="col s8">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="attr[{{ attribute.id }}][]" id="{{ attribute.id }}">
                        <label for="{{ attribute.id }}">{{ attribute.title  }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row prop" v-if="attribute.type.name == 'selectbox'">
            <div class="col s4">
                <h4>{{ attribute.title  }}</h4></br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, error. Itaque vero quo voluptatibus.
            </div>
            <div class="col s8">
                <div class="row">
                    <div class="input-field col s12">
                        <select name="attr[{{ attribute.id }}][]">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="{{ option.id }}" v-for="option in attribute.options">{{ option.value }}</option>
                        </select>
                        <label>{{ attribute.title }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row prop"  v-if="attribute.type.name == 'checkbox'">
            <div class="col s4">
                <h4>{{ attribute.title  }}</h4></br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quae enim odit consectetur eos.
            </div>
            <div class="col s8">
                <p class="row">
                    <span class="col" v-for="option in attribute.options">
                        <input type="checkbox" name="attr[{{ attribute.id }}][]" value="{{ option.id }}" id="attr-{{ attribute.id }}-{{ option.id }}"  />
                        <label for="attr-{{ attribute.id }}-{{ option.id }}">{{ option.value }}</label>
                    </span>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row prop"  v-if="attribute.type.name == 'radio'">
            <div class="col s4">
                <h4>{{ attribute.title  }}</h4></br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quae enim odit consectetur eos.
            </div>
            <div class="col s8">
                <p class="row">
                    <span class="col" v-for="option in attribute.options">
                        <input type="radio" name="attr[{{ attribute.id }}][]" value="option.id" >
                        <label>{{ option.value }}</label>
                    </span>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row prop">
            <div class="col s4">
                <h4>Description</h4></br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus tempore, facere nihil voluptates explicabo?
            </div>
            <div class="col s8">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="description" id="description" class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row prop">
            <span class="right btn" @click="nextStep">Next</span>
        </div>
    </div>
</template>

<script>
    import Select from '../../../directives/select.vue';
    export default{
        data(){
            return{
            }
        },
        methods:{
            nextStep() {
                this.$parent.step = 2;
            }
        },
        props: [ 'attributes' ],
        directives: { Select }
    }
</script>