<template>
    <div class="row prop">
        <div class="col s4">
            <h4>Price</h4></br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quos quo, veniam velit ducimus.
        </div>
        <div class="col s8">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="price_seller" id="price_seller" v-model="price" />
                    <input type="hidden" class="validate" name="commission" id="commission" v-model="commision" />
                    <input type="hidden" class="validate" name="price" id="price" v-model="sum"/>
                    <label for="price">Price</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            Total price:<h3>{{total}}</h3>
        </div>
    </div>
    <div class="row prop">
        <span class="right btn" @click="nextStep">Next</span>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                price:0,
                commision:0,
                sum: 0
            }
        },
        methods:{
            nextStep() {
                this.$parent.step = 4;
            }
        },
        computed: {
            total: function () {
                this.commision = (this.price * 0.05);
                this.sum = parseFloat(this.price) + parseFloat(this.commision);
                return this.sum
            }
        },
        components:{
        }
    }
</script>