<template>
    <form method="post" id="upload_form" @submit.prevent="onSubmit">
        <!--<div class="add_products col">-->
            <div class="product_type col s12">
                <h2>Choose type of product</h2>
                <ul class="category_list valign-wrapper">
                    <li @click="chooseCategory(category.id)" v-for="category in categories" v-if="category.parent == 0" track-by="$index">
                        <span class="btn-floating btn-large waves-effect" v-bind:class="{ 'active':  category.id == active }" :class="'color_' + category.alias">
                            <i class="icon-{{ category.alias }}"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="product_prop col s12">
                <select-subcategory :data="subcategories" ></select-subcategory>
            </div>
            <div class="product_prop col s12">
                <div class="row prop" v-if="attributes" v-show="step == 1">
                    <attributes :attributes="attributes"></attributes>
                </div>
                <div class="row prop" v-show="step == 2">
                    <upload></upload>
                </div>
                <div class="row prop" v-show="step == 3">
                    <price></price>
                </div>
                <div class="row prop" v-show="step == 4">
                    <rules></rules>
                </div>
                <input type="hidden" name="category" value="{{ category }}" >
            </div>
        <!--</div>-->
    </form>
</template>

<script>
    import { categories } from '../../../vuex/getters'
    import SelectSubcategory from './select-subcategory.vue';
    import MyLeftSidebar from '../../brandroom/my-left-sidebar.vue';
    import Attributes from './attrbites.vue';
    import Upload from './upload.vue';
    import Price from './price.vue';
    import Rules from './rules.vue';
    export default {
        data() {
            return {
                categories: [],
                step: false,
                data: {},
                product:{},
                subcategories: [],
                attributes: [],
                category: 0,
                active: 0
            };
        },
        methods: {
            chooseCategory(id) {
                this.attributes = [];
                var subcategories = this.categories.filter(function(category){
                    return category.parent == id;
                });

                this.subcategories = subcategories;
                this.category = id;
                this.active = id;
            },
            getAttributes(id) {
                var category = this.subcategories.find(function(category){
                    return category.id == id;
                });

                this.attributes = category.attributes;
                this.step = 1;
                this.$nextTick(() => {
                    initStyleElements();
                });
            },
            onSubmit: function () {
                var prod = $("#upload_form").serializeJSON();
                this.$http.post('products/upload', prod).then((response) => {
                    this.$route.router.go('/brandroom');
                });
            }
        },
        components: { SelectSubcategory, MyLeftSidebar, Attributes, Upload, Price, Rules },
        created() {
            this.$http.get('categories/all').then((response) => {
                this.categories = response.data.categories;
            });
        }
    }
</script>