<template>
    <div class="row prop">
        <span class="col">
            <input type="checkbox" name="rules" id="agree"/>
            <label for="agree">I agree with ... .. . .</label>
        </span>
    </div>
    <div class="row prop">
        <!--<span class="center btn">Upload</span>-->
        <button class="btn waves-effect right">Upload</button>
    </div>
</template>

<script>
    export default{
        data(){
            return{
            }
        },
        methods: {
        },
        components:{
        }
    }
</script>