<template>
    <div class="input-field">
        <select v-select="subcategory" name="category_id">
            <option value="">All categories</option>
            <option v-for="category in categories" v-bind:value="category.id">{{ category.title }}</option>
        </select>
    </div>
</template>

<script>
    import Select from '../../../directives/select.vue';
    export default {
        data() {
            return {
                subcategory: '',
                categories: {},
            }
        },
        props: ['data'],
        directives: { Select },
        methods: {
        },
        watch : {
            data: {
                handler: function(val, oldVal) {
                    this.categories = val;
                    this.$nextTick(function () {
                        initStyleElements();
                    });
                },
                deep : true
            },
            'subcategory'(val, oldVal) {
                this.$parent.getAttributes(val);

            }
        },
    }
</script>