<template>
    <input id="fileupload" type="file" name="file" multiple>
    <div class="progress-bar-area"></div>
    <input type="hidden" v-model="product_url" name="url">
    <div class="row prop">
        <span class="right btn" @click="nextStep">Next</span>
    </div>
</template>

<script>
    import UploadFilesToS3 from '../../../mixins/upload-files.vue'
    import config from '../../../config'

    export default{
        data(){
            return{
                product_url: ''
            }
        },
        mixins: [UploadFilesToS3],
        components:{},
        methods: {
            nextStep() {
                this.$parent.step = 3;
            },
            uploadFile(event) {
                this.product.files = []
                var files = event.target.files || event.dataTransfer.files

                this.uploadFileToS3(files, 'products/upload/s3', this.product)
            },
        },
        ready(){
            var self = this;
            $(document).ready(function () {
                $('#fileupload').fileupload({
                    acceptFileTypes: /.*/i,
                    maxFileSize: 1000000,
                    url: 'https://cloudpire.s3.amazonaws.com',
                    paramName: 'file',
                    dataType: 'xml',
                    add: function (event, data) {
                        var filename = data.files[0].name;
                        var type = data.files[0].type;
                        var params = [];
                        $.ajax({
                            url: config.api.base_url + '/products/upload/s3',
                            type: 'GET',
                            dataType: 'json',
                            xhrFields: {
                                withCredentials: true
                            },
                            data: {
                                filename: filename,
                                type: type
                            },
                            success: function(s3Data) {
                                data.formData = s3Data.data.params;
                                data.url = s3Data.data.url;
                                console.log(data.formData);
                                data.submit();
                            }
                        });
                    },
                    progress: function (e, data) {
                        var percent = Math.round((data.loaded / data.total) * 100);
                        $('.progress[data-mod="'+data.files[0].size+'"] .bar').css('width', percent + '%').html(percent+'%');
                    },
                    done: function (event, data) {
                        self.product_url = $(data.jqXHR.responseXML).find('Location').text();
//                        self.product_url = $(data.jqXHR.responseXML).find('Key').text();
                    }
                });
            });
        }
    }
</script>