<template>
    <link rel="stylesheet" href="/css/dropzone.css" type="text/css" />
    <div class="container">
        <section class="brandroom_info row">
            <div class="brandroom_content col">
                <div id="add_news">
                    <h4>Add News</h4>
                    <form @submit.prevent="addNews">
                        <textarea name="body" v-model="addNewsForm.body"></textarea>
                        <div id="news_media" class="dropzone" style="width:100%;height:200px"></div>
                        <p v-for="product in brandroom_products">
                            <input name="products" id="item{{ product.id }}" value="{{ product.id }}" v-model="addNewsForm.products" type="checkbox">
                            <label for="item{{product.id  }}">{{ product.title }}</label>
                        </p>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    
    export default{
        data(){
            return{
                addNewsForm: {
                    body: null,
                    media: [],
                    products: []
                }
            }
        },
        directives: {},
        methods: {
            getBrandroomData: function() {
                this.$http.get('brandroom/news/add').then((response) => {
                    this.$set('brandroom_products', response.data.data);
                    
                    spinner(false);
                }, (err) => {
                    console.log(err);
                });
            },
            addNews: function() {
                let that = this;
                spinner(true);
                this.$http.post('news/add', this.addNewsForm).then((response) => {
                    if (response.data.status == 'success'){
                        that.$route.router.go({name:'my-newsfull', params: {newsid: response.data.data.news_id}});
                    }
                });
            }
        },
        components:{},
        ready(){
            this.getBrandroomData();
            let that = this;
            this.$nextTick(function() {
                $('#news_media').dropzone({
                    url: '/api/v1/news/media/add',
                    init: function() {
                        this.on("complete", function(file) {
                            let response = JSON.parse(file.xhr.response);
                            if (file.status == "success" && response.status == 'success') {
                                delete response.data.status;
                                that.addNewsForm.media.push(response.data);
                            }
                        });
                        this.on("sending", function(file, request, FormData) {});
                    }
                });
            });
        }
    }
</script>