<template>
	<div class="photo_carusel">
		<img :src="image.url" v-for="image in news_images">
	</div>
</template>

<script>
    export default{
    	data(){
            return{
            }
        },
        components:{

        },
        props: ['news_images'],
        methods: {
        },
        created(){
        }
    }
</script>