<template>
	<div class="news_bl">
		<div class="news_box">
			<span class="waves-effect back btn-flat" v-link="brandroom_route"><i class="fa fa-angle-left left"></i>Back to news</span>
			<!--<p class="title_new">Alan's <a href="#">Boost UI Kit.psd</a> purchase</p>
			<a href="#" class="author_new">
				<span><img src="../img/author1.jpg" alt="author"></span>
				Alan Ayrton
			</a>-->
			<span class="time_new"><i class="fa fa-clock-o"></i> {{ news.created_at | moment "from" "now"  }}</span>
			<div class="clearfix"></div>
			<p class="text_new">{{ news.news }}</p>
			<div class="news_media" v-if="news.images.length">
				<img height="80px" v-for="image in news.images" :src="image.url">
			</div>
			<div class="news_products" v-if="news.products.length">
				<ul>
					<li v-for="product in news.products">
						<a href="/{{ brandroom_alias }}/{{ product.id }}">{{ product.title }}</a>
					</li>
				</ul>
			</div>
			<!--<span class="file"><i class="fa fa-file-audio-o"></i><span>12mb</span></span>
			<span class="btn  download_file waves-effect"><i class="fa fa-download left"></i> Download</span>-->
		</div>
		<div class="comments_box">
			<p class="comment_count">{{ news.comments_count }} Comment{{ news.comments_count === 1 ? '' : 's' }} </p>
			<div class="btn btn grey lighten-5 grey-text text-darken-2 waves-effect write_comment">
				<i class="fa fa-pencil left"></i>Comment
			</div>
			<div class="nice_scroll">
				<comments model="brandroom_news" :id="news.id" v-if="news.id"></comments>
			</div>
		</div>
	</div>
</template>

<script>
	import Comments from './comments/comments.vue';
	import LeftSidebar from '../left-sidebar.vue';
	import Cover from '../cover.vue';
    export default{
    	data(){
            return{
				news: {
					images: [],
					products: []
				},
            	brandroom_route: this.$route.name == 'my-newsfull' ? {name: 'brandroom-news'} : {name:'brandroom', params: {brandroom: this.$route.params.brandroom}},
            	brandroom_alias: this.$route.name == 'my-newsfull' ? 'brandroom' : this.$route.params.brandroom
            }
        },
        components:{
			Cover,
			LeftSidebar
        },
        props: [],
        methods: {
        	getNewsData: function() {
                this.$http.get(`${this.brandroom_alias}/news/${this.$route.params.newsid}`).then((response) => {
                    this.news = response.data;
                }, (err) => {
                    console.log(err);
                });
            },
        },
		components: {Comments, LeftSidebar, Cover},
        created(){
        	// console.log(this.$route.params.newsid);
        	this.getNewsData();
        }
    }
</script>