<template>
	<div class="block_news">
		<h2>News</h2>
		<div class="">
			<images-feed :news_images="brandroom.media" v-if="brandroom.media.length"></images-feed>
			<div class="news_list">
				<div class="new waves-effect" v-for="news in brandroom.news" v-link="{name:news_route, params: {newsid:news.id}}">
					<p>{{ news.news | limitBy 200 }}{{ news.news.length > 200 ? '...' : '' }}</p>
					<div class="news_media" v-if="news.images.length">
						<img height="80px" v-for="image in news.images" :src="image.url">
					</div>
					<!--<div class="news_products" v-if="news.products">
						<ul>
							<li v-for="product in news.products">{{ product.title }}</li>
						</ul>
					</div>-->
					<div class="new_info">
						<span class="coment"><i class="fa fa-commenting"></i> {{ news.comments_count }}</span>
						<span class="time_new"><i class="fa fa-clock-o"></i> {{ news.created_at | moment "from" "now"  }}</span>
						<span v-if="user && user.id == brandroom.user_id" class="del_new" @click.stop="deleteNews($index)">+</span>
					</div>
				</div>
				<!--<div class="new waves-effect">
					<p>You’ve added file <span>2 audio files</span></p>
					<div class="atouch_file"><i class="fa fa-folder-open-o"></i>The Old Song.mp3<i class="fa fa-cloud-download"></i></div>
					<div class="atouch_file"><i class="fa fa-folder-open-o"></i>Long time ago in Lviv.mp3<i class="fa fa-cloud-download"></i></div>
					<div class="new_info">
						<span class="coment"><i class="fa fa-commenting"></i> 3</span>
						<span class="time_new"><i class="fa fa-clock-o"></i> today at 14:40</span>
						<span class="del_new">+</span>
					</div>
				</div>
				<div class="new waves-effect">
					<p>You’ve just appreciated your <a href="#">Alan Petrov’s</a> project</p>
				</div>
				<div class="new waves-effect">
					<p>You’ve just purchased <a href="#">Boost UI Kit.psd</a></p>
					<div class="new_info">
						<span class="coment"><i class="fa fa-commenting"></i> 3</span>
						<span class="time_new"><i class="fa fa-clock-o"></i> today at 14:40</span>
						<span class="del_new">+</span>
					</div>
				</div>
				<div class="new waves-effect">
					<p>You’ve added file <span>2 audio files</span></p>
					<div class="atouch_file"><i class="fa fa-folder-open-o"></i>The Old Song.mp3<i class="fa fa-cloud-download"></i></div>
					<div class="atouch_file"><i class="fa fa-folder-open-o"></i>Long time ago in Lviv.mp3<i class="fa fa-cloud-download"></i></div>
					<div class="new_info">
						<span class="coment"><i class="fa fa-commenting"></i> 3</span>
						<span class="time_new"><i class="fa fa-clock-o"></i> today at 14:40</span>
						<span class="del_new">+</span>
					</div>
				</div>-->
			</div>
		</div>
		<span v-if="brandroom.news.length > 9" v-bind:class="loadmore_button" @click="loadMoreNews" class="waves-effect btn grey lighten-5 grey-text text-darken-2 show_more"><i class="material-icons left">play_for_work</i>  Show More</span> 
	</div>
</template>

<script>
	import Cover from '../cover.vue';
	import LeftSidebar from '../left-sidebar.vue';
	import ImagesFeed from './images-feed.vue';
	import Auth from '../../../auth'
	
    export default{
    	data(){
            return{
				user: Auth.getCurrentUser(),
            	loadmore_button: '',
            	brandroom: {
            		background: "/img/default_brandroom_header.jpg",
					id: null,
					alias: "",
					description: "",
					followers_count: null,
					city: "",
					country: null,
					created_at: null,
					company: null,
					background_key: null,
					ifollow_count: null,
					logo: null,
					logo_key: null,
					media: [],
					news: [],
					paypal_email: "",
					phone: "",
					title: "",
					updated_at: null,
					user_id: null
            	},
            	brandroom_alias: this.$route.name == 'brandroom-news' ? 'brandroom' : this.$route.params.brandroom,
            	news_route: this.$route.name == 'brandroom-news' ? 'my-newsfull' : 'newsfull'
            }
        },
        components:{
			ImagesFeed,
			Cover,
			LeftSidebar
        },
        methods: {
        	loadNews: function(){
       			spinner(true);
        		this.$http.get(`${this.brandroom_alias}/news`).then((response) => {
        			this.$set('brandroom', response.data.data);
        			spinner(false);
        		}, (err) => {
        			console.log(err);
        		});
        	},
        	deleteNews: function(news_index){
        		if (confirm('Confirm action: delete news')){
        			spinner(true);
        			this.$http.delete(`brandroom/news/${this.brandroom.news[news_index].id}`).then((response) => {
        				// this.brandroom.images.$remove(this.brandroom.images[0]);
        				this.brandroom.news.$remove(this.brandroom.news[news_index]);
        				spinner(false);
        				notify(response);
        			}, (err) => {
        				console.log(err)	
        			});
        		}
        	},
        	loadMoreNews: function(){
        		if ('disabled' === this.loadmore_button)
        			return false;
        		spinner(true);
        		let skip = this.brandroom.news.length;
        		this.$http.get(this.brandroom.id + '/news/load/' + skip).then((response) => {
        			for(let news in response.data.data){
        				this.brandroom.news.push(response.data.data[news]);
        			}
        			if (response.data.data.length < 10)
        				this.loadmore_button = 'disabled';
        			spinner(false);
        		});
        	}
        },
        ready(){
        	this.loadNews();
        }
    }
</script>