<template>
    <div class="container">
        <section class="brandroom_info row">
            <header-brandroom :brandroom="product.brandroom"></header-brandroom>
            <left-sidebar :brandroom="product.brandroom"></left-sidebar>
            <div class="lot">
                <div class="main_info">
                    <div class="preview">
                        <img src="../img/preview.jpg">
                    </div>
                    <h2 class="name">{{ product.title }}</h2>
                    <p class="subtitle"><span>Album</span>The 25th degree</p>

                    <div class="date"><i class="fa fa-clock-o"></i> 12/27/15</div>
                    <div class="rate"><i class="fa fa-cloud"></i><b>4.1</b></div>

                    <div class="tags">
                        <span class="tag" v-for="tag in product.tags">{{ tag.name }}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ad_info">
                    <span><label>last update</label>{{ product.created_at }}</span>
                    <span class="text_blue" v-for="attribute in product.attributes">
                        <label>{{ attribute.title }}</label>

                        <span v-for="option in attribute.options">
                            <span v-if="$index">{{ option.value }}</span>
                            <span v-if="!$index && attribute.options.length > 1">{{ option.value }},</span>
                            <span v-if="!$index && attribute.options.length == 1">{{ option.value }}</span>
                        </span>

                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="audioplayer">
                    <div class="player">
                        <div class="toggle">
                            <span class="toggle-play"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                            <span class="toggle-pause"><i class="fa fa-pause-circle" aria-hidden="true"></i></span>
                        </div>
                        <span class="prev"><i class="fa fa-backward" aria-hidden="true"></i></span>
                        <span class="next"><i class="fa fa-forward" aria-hidden="true"></i></span>
                        <span class="btn_mute"><input id="mute" class="mute" type="checkbox"/><label for="mute"><i class="fa fa-volume-up" aria-hidden="true"></i></label></span>
                        <span class="name"></span>
                        <span class="duration">00:00</span>
                        <span class="seperate"> / </span>
                        <span class="currenttime">00:00</span>
                        <div class="rangetime"><span class="currentpos"></span><input class="time"   type="range" value="0" /></div>
                    </div>
                    <ol class="playlist">
                        <li class="playlist_item waves-effect">Track 1</li>
                        <li class="playlist_item waves-effect">Track 2</li>
                        <li class="playlist_item waves-effect">Track 3</li>
                    </ol>
                </div>
                <video   class="video-js vjs-default-skin" controls preload="none" data-setup="{}" poster="http://vjs.zencdn.net/v/oceans.png">
                    <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                </video>
                <p class="text_info">
                    There are two options for sending model data to the agency, one is static where models profile like Name, Age, Country etc. are send to the admin as a email and the other option is dynamic where the models data is stored in database.
                </p>
                <p class="text_info">
                    We are keep on updating theme as soon as find the bugs or new features requested by users, so please download updated files from your download section and update your theme by replacing entire theme folder.
                </p>
                <div class="share">
                    <span>Share</span>
                    <span class="waves-effect facebook"><i class="fa fa-facebook"></i> 54</span>
                    <span class="waves-effect twitter"><i class="fa fa-twitter"></i> 89</span>
                    <span class="waves-effect google"><i class="fa fa-google-plus"></i> 36</span>
                </div>
                <div class="comment_block" v-if="product.id">
                    <h4>Comments</h4>
                    <comments model="products" :id="product.uuid" :brandroom="product.brandroom"></comments>
                </div>
            </div>
            <div class="valign-wrapper rigth_col">
                <div class="price">
                    <label>Price</label>
                    <span>$ <b>{{ product.price }}</b></span>
                </div>
                <div class="btn green accent-4 waves-effect"><i class="material-icons left">credit_card</i>Buy now</div>
                <div class="btn grey lighten-4 blue-text text-darken-3 waves-effect"
                     @click="addToCart(product)">
                    <i class="material-icons left">add</i>Add to Cart
                </div>
                <div class="btn grey lighten-4 blue-text text-darken-3 waves-effect add_to_wishlist"
                     @click="addToWishroom(product)"
                     v-if="!product.wishroom">
                    <i class="fa left fa-star"></i> Add to Wishlist
                </div>
                <div class="btn green lighten-4 blue-text text-darken-3 waves-effect add_to_wishlist"
                     @click="deleteFromWishroom(product)"
                     v-if="product.wishroom">
                    <i class="fa left fa-star"></i> Delete from Wishlist
                </div>
                <div class="btn waves-effect white grey-text text-darken-2" @click="report(product)">
                    <i class="fa left fa-exclamation-circle"></i> Report
                </div>
            </div>
        </section>
    </div>

    <report model="products" :id="product.id" :product="product"></report>
</template>

<script>
    import LeftSidebar from '../brandroom/left-sidebar.vue'
    import HeaderBrandroom from '../brandroom/cover.vue'
    import Comments from './comments/comments.vue'
    import { addToCart } from '../../vuex/actions'
    import Mixin from '../../mixins/product.vue'
    import Report from './report.vue'
    export default{
        data(){
            return{
                product: {
                    brandroom: {}
                },
            }
        },
        mixins: [Mixin],
        vuex: {
            actions: {
                addToCart
            }
        },
        methods: {
            /**
             * Get product info
             */
            getProduct() {
                this.$http.get('products/' + this.$route.params.uuid).then((response) => {
                    this.product = response.data.data.product;
                }, (err)=>{
                    console.log(err);
                });
            },
            report() {
                $('#report').openModal();
            },
        },
        components: {HeaderBrandroom, LeftSidebar, Comments, Report},
        created() {
            this.getProduct();
        }
    }
</script>