<template>
    <div id="report" class="modal" v-if="product">
        <form id="reportForm" @submit.prevent="sendReport">
                <div class="modal-content">
                    <h4>Report</h4>
                    <div class="row prop">
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s8">
                                    <input type="text" id="name" name="name"  v-model="report.name" >
                                    <label for="name" class="">Name</label>
                                </div>
                                <div class="input-field col s8">
                                    <input type="text" id="email" name="email"  v-model="report.email">
                                    <label for="email" class="">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <p>
                                    <input name="spam" type="radio" id="spam" data-error=".errorSpam"
                                           aria-required="true" class="error" aria-describedby="spam-error">
                                    <label for="spam">Spam</label>
                                </p>
                                <p>
                                    <input type="radio" class="with-gap error" id="prohibited_product" name="spam"
                                           value="prohibited_product" v-model="report.type" />
                                    <label for="prohibited_product">Prohibited product / service</label>
                                </p>
                                <p>
                                    <input type="radio" class="with-gap error" id="fraudster" name="spam"
                                           value="fraudster" v-model="report.type" />
                                    <label for="fraudster">Fraudster</label>
                                </p>
                                <div class="input-field">
                                    <div class="errorSpam"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                    <input type="submit" class="modal-action waves-effect waves-green btn-flat" value="Send">
                </div>
            </form>
    </div>
</template>
<style>
    .input-field div.error {
        position: relative;
        top: -1rem;
        left: 0rem;
        font-size: 0.8rem;
        color: red;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
</style>

<script>
    export default{
        data() {
            return {
                report: {},
                form: '#reportForm'
            }
        },
        props: ['product', 'model', 'id'],
        computed: {
            url() {
                return this.model + '/' + this.id+ '/report';
            }
        },
        methods: {
            sendReport() {
                this.validate();

                if (!$(this.form).valid()) {
                    return false;
                }

                this.$http.post(this.url, this.report).then((response) => {
                    this.report = {};
                    $('#report').closeModal();
                    $(this.form).trigger('reset');

                    notify('success', 'Report was sent!');

                }, (err) => {
                    console.log(err);
                });
            },
            validate() {
                $(this.form).validate({
                    rules: {
                        name: {
                            required: true,
                            minlength: 5
                        },
                        email: {
                            required: true,
                            email:true
                        },
                        spam: 'required'
                    },
                    errorElement : 'div',
                    errorPlacement: function(error, element) {
                        var placement = $(element).data('error');
                        if (placement) {
                            $(placement).append(error)
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
            }
        },
    }
</script>