<template>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col s3 copyright">2015 © Cloudpire.com  All rights reserved.</div>
                <nav class="col s6 center-align"><ul>
                    <li><a class="active" href="#">Home </a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                </ul></nav>
                <div class="follow_us col s3 right-align">
                    Follow us:
                    <a class="active" href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-rss"></i></a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        data() {
            return{
                msg:'hello vue'
            }
        },
        components: {}
    }
</script>
