<template>
    <div class="container settings_page middle_content">
        <div class="row">
            <div class="col s12">
                <h2 class="">Projects</h2>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs row">
                            <li class="tab col s3"><a class="open" href="#open" @click="getOpenProjects">Open</a></li>
                            <li class="tab col s3"><a href="#personal" @click="getPersonalProjects">Personal</a></li>
                            <li class="tab col s3"><a href="#in-progress" @click="getInPorgressProjects">In progress</a></li>
                            <li class="tab col s3"><a href="#completed" @click="getCompletedProjects">Сompleted</a></li>
                        </ul>
                    </div>
                    <div id="open" class="col s12" v-if="status == 'open'">
                        <div class="switch">
                            <label>
                                All
                                <input type="checkbox" v-model="filterProjects" value="recomendations">
                                <span class="lever"></span>
                                Show Recommendations
                            </label>
                        </div>
                        <table class="highlight bordered responsive-table">
                            <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="user">Customer</th>
                                <th data-field="price">Price</th>
                                <th data-field="price">Proposals</th>
                                <th data-field="actions"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="project in projects">
                                <td><a v-link="{path: '/projects/' + project.id}">{{ project.title }}</a></td>
                                <td>{{ project.customer.name }}</td>
                                <td>{{ project.price }} $</td>
                                <td>{{ project.candidates_count }}</td>
                                <td>
                                    <a class="waves-effect waves-light btn green" v-if="!project.applied" @click="applyProject(project)">Apply</a>
                                    <a class="waves-effect waves-light btn light-green" v-if="project.applied" @click="cancelApplyProject(project)">Cancel</a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div id="personal" class="col s12" v-if="status == 'personal'">
                        <table>
                            <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="user">Customer</th>
                                <th data-field="price">Price</th>
                                <th data-field="price">Deadline</th>
                                <th data-field="actions"></th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr v-for="project in projects">
                                <td><a v-link="{path: '/projects/' + project.id}">{{ project.title }}</a></td>
                                <td>{{ project.customer.name }}</td>
                                <td>{{ project.price }} $</td>
                                <td>{{ project.deadline }}</td>
                                <td>
                                    <a class="waves-effect waves-light btn green" @click="approveProject(project)">Approve</a>
                                    <a class="waves-effect waves-light btn red" @click="declineProject(project)">Decline</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="in-progress" class="col s12" v-if="status == 'in-progress'">
                        <table>
                            <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="user">Customer</th>
                                <th data-field="price">Price</th>
                                <th data-field="price">Deadline</th>
                                <th data-field="actions"></th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr v-for="project in projects">
                                <td><a v-link="{path: '/projects/' + project.id}">{{ project.title }}</a></td>
                                <td>{{ project.customer.name }}</td>
                                <td>{{ project.price }} $</td>
                                <td>{{ project.deadline }}</td>
                                <td>
                                    <a v-link="{path: '/workspaces/' + project.workspace.id}"
                                       class="waves-effect waves-light btn">Workspace</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="completed" class="col s12" v-if="status == 'completed'">
                        <table>
                            <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="user">Customer</th>
                                <th data-field="price">Price</th>
                                <th data-field="price">Deadline</th>
                                <th data-field="actions"></th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr v-for="project in projects">
                                <td><a v-link="{path: '/projects/' + project.id}">{{ project.title }}</a></td>
                                <td><a href="">{{ project.customer.name }}</a></td>
                                <td>{{ project.price }} $</td>
                                <td>{{ project.deadline }}</td>
                                <td>
                                    <a v-link="{path: '/workspaces/' + project.workspace.id + '/brandroom'}"
                                       class="waves-effect waves-light btn">Workspace</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Auth from '../../../auth'
    import Project from '../../../mixins/project.vue'

    export default{
        data(){
            return{
                user: Auth.getCurrentUser(),
                projects: [],
                project: {},
                status: 'open',
                filterProjects: false
            }
        },
        mixins: [Project],
        methods:{
            getOpenProjects(){
                this.$http.get('brandroom/projects', {type: this.filterProjects}).then((response) => {
                    this.status = 'open'
                    this.projects = response.data.projects
                });
            },
            getPersonalProjects(){
                this.$http.get('brandroom/projects/personal').then((response) => {
                    this.status = 'personal'
                    this.projects = response.data.projects
                });
            },
            getInPorgressProjects(){
                this.$http.get('brandroom/projects/in-progress').then((response) => {
                    this.status = 'in-progress'
                    this.projects = response.data.projects
                });
            },
            getCompletedProjects(){
                this.$http.get('brandroom/projects/completed').then((response) => {
                    this.status = 'completed'
                    this.projects = response.data.projects
                });
            },
            declineProject(project) {
                this.$http.post('projects/' + project.id + '/decline').then((response) => {
                    this.projects.$remove(project)
                });
            }
        },
        components:{

        },
        ready() {
            this.getOpenProjects()
            $('ul.tabs').tabs()
        }
    }
</script>
