<template>
    <li>
        <a v-link="{path: '/projects/' + notification.notifiable.id}">
            <i class="fa fa-work"></i> <b>{{ notification.author.name }}</b>
            applied your project <b>{{ notification.notifiable.title }}</b>
            <span class="pull-right text-muted small">{{ notification.created_at | moment "from" "now" }}</span>
        </a>
    </li>
</template>

<script>
    export default {
        data() {
            return{
            }
        },
        props: ['notification'],
        components: {}
    }
</script>
