<template>
    <li>
        <a v-link="{path: '/' + notification.notifiable.brandroom.alias + '/' + notification.notifiable.uuid}">
            <i class="fa fa-comment"></i> <b>{{ notification.author.name }}</b>
            commented your product <b>{{ notification.notifiable.title }}</b>
            <span class="pull-right text-muted small">{{ notification.created_at | moment "from" "now" }}</span>
        </a>
    </li>
</template>

<script>
    export default {
        data() {
            return{
            }
        },
        props: ['notification'],
        components: {}
    }
</script>
