<template>
    <li style="width: 300px !important">
        <a v-link="{path: 'notification'}">
            <div>
                <i class="fa fa-comment"></i> <b>{{ notification.author.name }}</b> reply to your comment
                <span class="pull-right text-muted small">{{ notification.created_at | moment "from" "now" }}</span>
            </div>
        </a>
    </li>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        props: ['notification'],
        components: {}
    }
</script>
