<template>
    <div class="col s2 valign filter-group" v-for="attribute in attributes">
        <span>{{ attribute.title  }}</span>
        <div class="input-field" v-if="attribute.type.name == 'radio'">
            <span v-for="option in attribute.options">
                <input type="radio" class="with-gap" name="attr[{{ attribute.id }}][]" value="option.id" >
                <label>{{ option.value }}</label>
            </span>
        </div>

        <div class="input-field" v-for="option in attribute.options">
            <div v-if="attribute.type.name == 'checkbox'">
                <input type="checkbox" name="attr[{{ attribute.id }}][]" value="{{ option.id }}"
                        id="attr-{{ attribute.id }}-{{ option.id }}">
                <label for="attr-{{ attribute.id }}-{{ option.id }}">{{ option.value }}</label>
            </div>
        </div>

        <div class="input-field" v-if="attribute.type.name == 'selectbox'">
            <select name="attr[{{ attribute.id }}][]">
                <option value="">All</option>
                <option value="{{ option.id }}" v-for="option in attribute.options">{{ option.value }}</option>
            </select>
        </div>
    </div>
</template>

<script>

    export default{
        data(){
            return{
            }
        },
        props: ['attributes'],
    }
</script>