<template>
    <div class="col s12">
        <div class="col s2 valign filter-group">
            <span>Select category</span>
            <category :categories="categories"></category>
            <div class="input-field">
            </div>
        </div>
        <div class="col s2  valign filter-group">
            <span>Price</span>
            <price max="200" min="0"></price>
        </div>
        <div class="col s2  valign filter-group">
            <span>Sales</span>
            <sales max="200" min="0"></sales>
        </div>
        <div class="col s2 valign filter-group">
            <span>Sort items</span>
            <sort></sort>
        </div>
    </div>
    <div class="col s12" v-if="data.subcategory">
        <attributes :attributes="data.subcategory.attributes"></attributes>
    </div>
    <div class="col s12 valign filter-group">
        <div class="col s12 valign filter-group">
            <span>Select tags</span>
            <div class="input-field">
                <tags type="category"></tags>
            </div>
        </div>
    </div>
</template>

<script>

    import Category from './category.vue';
    import Sort from '../../filter/sort.vue';
    import Sales from '../../filter/sales.vue';
    import Price from '../../filter/price.vue';
    import Tags from '../../filter/tags.vue';
    import Attributes from './attrbutes.vue';
    export default{
        data() {
            return {
                data: {},
            }
        },
        props: ['categories'],
        methods: {
            buildFilter(subcategory) {
                var subcategory = this.categories.find(function (category) {
                    return category.id == subcategory;
                });

                this.$nextTick(() => {
                    this.$set('data.subcategory', subcategory);
                    initStyleElements();
                });

            }
        },
        components: {Price, Sort, Sales, Category, Tags, Attributes},
    }
</script>