<template>
    <div class="products_list row">
        <p v-if="products.total">Products found - {{ products.total }}</p>
        <p v-if="!products.total">Products not found</p>
        <div class="col s2" v-for="product in products.data">
            <product :product="product"></product>
        </div>
    </div>

    <pagination @change-page="changePage" :pagination="products"></pagination>

</template>
<style>

</style>
<script>

    import Pagination from './pagination.vue';
    import Product from './product.vue';
    export default{
        data(){
            return{
            }
        },
        props: ['products'],
        methods: {
            /**
             * Change page if click on pagination link
             * @param page
             */
            changePage(page) {
                spinner(true);
                this.$set('$parent.data.products.current_page', page);
                this.$nextTick(() => {
                    this.$parent.getProducts();
                });
                spinner(false);
            },
        },
        components: {Product, Pagination},
    }
</script>