<template>
    <ul class="pagination center-align" v-if="pagination.total > pagination.per_page">
        <li v-bind:class="[ pagination.current_page <= 1 ? 'disabled' : '']"
            @click.prevent="clickPage(pagination.current_page - 1)">
            <a href="#" aria-label="Previous">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <li class="waves-effect"
            @click.prevent="clickPage(page)"
            v-for="page in pagesNumber"
            v-bind:class="[ page == isActived ? 'active' : '']">
            <a href="#">{{ page }}</a>
        </li>
        <li v-if="pagination.current_page < pagination.last_page"
            @click.prevent="clickPage(pagination.current_page + 1)">
            <a href="#" aria-label="Next">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
</template>

<script>
    export default {
        data() {
            return {
                offset: 4,// left and right padding from the pagination <span>,just change it to see effects
                items: []
            }
        },
        props: ['pagination'],

        computed: {
            isActived() {
                return this.pagination.current_page;
            },
            pagesNumber() {
                if (!this.pagination.to) {
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                var pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        methods: {
            clickPage(page) {
                this.pagination.current_page = page;
                this.$emit('change-page', page);
            }
        },
    }
</script>