<template>
    <div class="product_card">
        <span class="price"><i>$</i>{{ product.price }}</span>
        <properties :uuid="product.uuid"></properties>
        <div class="clr"></div>
        <a v-link="{ name: 'product', params: { brandroom: product.brandroom.alias, uuid: product.uuid } }">
            <p class="product_name">{{ product.title }}</p>
            <div class="product_img">
                <img src="/img/logo.png" alt="">
            <span class="product_rate rate_one"><b>1</b>
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="32.000000pt" height="21.000000pt"
                     viewBox="0 0 32.000000 21.000000"preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,21.000000) scale(0.100000,-0.100000)"
                       fill="#000000" stroke="none">
                        <path d="M106 189 c-14 -11 -26 -29 -26 -40 0 -12 -7 -19 -20 -19 -28 0 -60 -35
                                -60 -65 0 -14 9 -34 20 -45 18 -18 33 -20 135 -20 110 0 117 1 140 25 14 13
                                25 35 25 48 0 31 -36 77 -60 77 -10 0 -32 14 -48 30 -36 35 -69 38 -106 9z"/>
                    </g>
                </svg>
            </span>
            </div>
        </a>
        <a v-link="{path: '/' + product.brandroom.alias}" class="product_author">
            <i class="fa fa-user-secret"></i>{{ product.brandroom.title }}
        </a>
        <div class="product_tags" v-if="product.tags">
            <i class="fa fa-tag"></i>
            <span v-for="tag in product.tags">
              <span v-if="$index !== 0"> , </span> {{ tag.name }}
            </span>
        </div>
        <div class="product_look"><i class="fa fa-cloud-download"></i>145</div>
        <span class="add_to_wishroom" @click="addToWishroom(product)" v-if="!product.wishroom">Add to <small>Wishroom</small></span>
        <span class="add_to_wishroom" @click="deleteFromWishroom(product)" v-if="product.wishroom">Remove from <small>Wishroom</small></span>
        <span class="buy" @click="addToCart(product)"><i class="fa fa-credit-card"></i>Buy</span>
    </div>
</template>
<style>

</style>
<script>

    import Mixin from '../../mixins/product.vue';
    import Properties from './properties.vue';
    import { addToCart } from '../../vuex/actions';
    export default{
        data(){
            return{
            }
        },
        mixins: [Mixin],
        vuex: {
            actions: {
                addToCart
            }
        },
        props: ['product'],
        components: {Properties},
    }
</script>