<template>
    <span class="btn_sample waves-effect" @click="getProduct(uuid)"><i class="fa fa-eye"></i>Sample</span>
    <div class="modal_info">
        <h6 class="card-title grey-text text-darken-4">Properties<i class="material-icons close right">close</i></h6>
        <span><label>ID</label>{{ product.id }}</span>
        <span><label>last update</label>{{ product.created_at | moment "from" "now" }}</span>
        <span v-for="attribute in product.attributes">
            <label>{{ attribute.title }}</label>
            <span v-for="option in attribute.options">{{ option.value }}</span>
        </span>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                product: {},
                loaded: false
            }
        },
        props: ['uuid'],
        methods: {
            /**
             * Get product info
             */
            getProduct(uuid) {
                if (!this.loaded) {
                    this.$http.get('products/' + uuid).then((response) => {
                        this.product = response.data.data.product;
                        this.loaded = true;
                    }, (err)=>{
                        console.log(err);
                    });
                }
                $(this).next('.modal_info').slideToggle("fast");
            },
        },
    }
</script>