<template>
    <div class="home_wrap">
        <header class= "home_header">
            <div class="container">
                <div class="row valign-wrapper">
                    <div class="col s4">
                        <div class="logo">
                            <img src="../img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="search-wrapper card">
                            <input id="search"><i class="material-icons">search</i>
                            <div class="search-results"></div>
                        </div>
                    </div>
                    <div class="col s4 blue-text text-darken-3 right-align what_we_are">
                        <i class="material-icons">play_circle_outline</i>
                        <span>Take a tour</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col s6 storage_advantage center-align">
                    <h4 class="blue-text text-darken-3">Your Storage advantages</h4>
                    <div class="advantage1 col s6">
                        <span></span>
                        <h6>Any digital products</h6>
                        <p>Reduce the time and cost of completing tasks and projects.</p>
                    </div>
                    <div class="advantage2 col s6">
                        <span></span>
                        <h6>New type repository</h6>
                        <p>Reduce the time and cost of completing tasks and projects.</p>
                    </div>
                    <div class="advantage3 col s6">
                        <span></span>
                        <h6>Sell your file</h6>
                        <p>Keep all project files and feedback in one easy-to-access place.
                        </p>
                    </div>
                    <div class="advantage4 col s6">
                        <span></span>
                        <h6>Big digital choose</h6>
                        <p>Spend less time managing feedback and more on creating great work.</p>
                    </div>
                    <div class="clr"></div>
                </div>
                <authorization></authorization>
            </div>
            <div class="cloud_storage col s12">
                <h3 class=" blue-text text-darken-3 center-align">Get Cloud Storage Now!</h3>
                <ul>
                    <li v-for="category in categories">
                        <a class="{{ category.alias }}" v-link="{path: category.alias}">
                            <span class="waves-effect"></span><p>{{ category.title }}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    import Authorization from '../../components/header/auth/authorization.vue'

    export default {
        name: 'HomePage',
        data() {
            return {
                categories: []
            }
        },
        methods: {
            getCategories() {
                this.$http.get('categories').then((response) => {
                    this.categories = response.data.categories
                })
            }
        },
        components: {Authorization},
        ready() {
            this.getCategories()
        }
    }
</script>