<template>
    <ul class="collection">
        <li class="collection-item avatar"
            v-for="comment in comments"
            v-bind:class="{ 'parent': comment.parent_id == 0 }">
            <img src="../img/author3.jpg" alt="" class="circle">
            <span class="title" @click="replyComment(comment)">{{ comment.user.name }}</span>
            <span class="a_label" v-if="author(comment)">author</span>
            <p>
                <template v-if="comment.parent_id">
                    <a href="#{{ comment.parent_id }}">{{ comment.parent.user.name }}</a>,
                </template>
                {{{ comment.text }}}
            </p>
            <p>
                <a href="#" @click.prevent="deleteComment(comment)" v-if="myComment(comment)">Delete</a>
                <a href="#comment-{{ comment.id }}" @click.prevent="replyComment(comment)">Reply</a>
            </p>
        <span class="secondary-content">
            <i class="fa fa-clock-o"></i>
            {{ comment.created_at | moment "from" "now" }}
        </span>
            <div id="comment-{{ comment.id }}"></div>
        </li>
    </ul>
    <form class="from_comment" @submit.prevent="createComment" method="post" v-if="user">
        <div class="row">
            <div class="input-field  s12">
                <input type="hidden" name="type" value="{{ type }}">
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="parent_id" v-model="comment.parent_id">
                <textarea id="comment" v-model="comment.text" class="materialize-textarea"></textarea>
                <label v-bind:class="{'active': comment.text}" for="comment">Enter message</label>
            </div>
        </div>
        <button class="send_comment btn-flat waves-effect" type="submit"><i class="material-icons">send</i>
        </button>
    </form>
    <h4 v-else>You must registered for leave comments!</h4>
</template>

<script>
    import Comment from '../../../mixins/comments.vue'
    import bus from '../../../bus'
    import Auth from '../../../auth'

    export default{
        data() {
            return {
                user: Auth.getCurrentUser()
            }
        },
        props: ['brandroom'],
        mixins: [Comment],
        methods: {
            author(comment) {
                return this.brandroom.user_id == comment.user_id ;
            },
        },
    }
</script>