<template>
    <form class="valign-wrapper" @submit.prevent="getUser">
        <div class="col s6">
            <div class="col offset-s3 s6">
                <img src="../img/default_photo.png" alt="" class="circle responsive-img">
            </div>
        </div>
        <div class="col s6">
            <div class="input-field col s12">
                <input id="email_in" type="email" class="validate" v-model="$parent.email">
                <label for="email_in">Email</label>
            </div>
            <div class="col s12">
                <span class="waves-effect  blue darken-3 waves-light btn col s12 submit" @click="getUser">Next</span>
            </div>
        </div>
    </form>
</template>

<script>
    export default{
        data(){
            return{
            }
        },
        methods: {
            getUser() {
                this.$http.get('user/' + this.$parent.email).then((response) => {
                    this.$parent.name = response.data.data.name;
                    this.$parent.avatar = response.data.data.avatar;
                    this.$parent.step = 2;
                    $("#password_in").focus();
                }, (err) => {
                    this.$parent.step = 3;
                    $("#user_name").focus();
                })
            }
        },
    }
</script>