<template>
    <form class="valign-wrapper" @submit.prevent="login">
        <div class="col s6">
            <div class="col offset-s3 s6">
                <img v-bind:src="$parent.avatar" alt="" class="circle responsive-img">
            </div>
            <p class="col s12 center-align">
                <input type="checkbox" id="remember" checked="checked" />
                <label class="blue-text text-darken-3" for="remember">Remember me</label>
            </p>
        </div>
        <div class="col s6">
            <p class="center-align">Welcome, <b>{{ $parent.name }}</b></p>
            <div class="input-field col s12">
                <input id="password_in" type="password" class="validate" v-model="$parent.password">
                <label for="password_in">Password</label>
            </div>
            <div class="col s12">
                <span class="waves-effect  blue darken-3 waves-light btn col s12 submit" @click="login">Next</span>
            </div>

        </div>
    </form>
</template>

<script>
    import Auth from '../../../../auth'
    export default{
        data(){
            return{
            }
        },
        methods: {
            login() {
                Auth.login({'email': this.$parent.email, 'password': this.$parent.password}, '/wishroom')
            },
        }

    }
</script>