<template>
    <form class="valign-wrapper" @submit.prenvent="register">
        <div class="col s6">
            <div class="input-field col s12">
                <input id="user_name" type="text" class="validate" v-model="$parent.name">
                <label for="user_name">Name</label>
            </div>
            <div class="input-field col s12">
                <input id="email_up" type="email" class="validate" v-model="$parent.email">
                <label for="email_up" v-bind:class="$parent.email ? 'active' : ''">Email</label>
            </div>
            <p class="col s12 check">
                <input type="checkbox" id="terms_up" checked="checked" v-model="$parent.terms" />
                <label class="blue-text text-darken-3" for="terms_up">I agree to the Terms of Use and to receive emails.</label>
            </p>
        </div>
        <div class="col s6">
            <div class="input-field col s12">
                <input id="password_up" type="password" class="validate" v-model="$parent.password">
                <label for="password_up">Password</label>
            </div>
            <div class="input-field col s12">
                <input id="password_up_confirm" type="password" class="validate" v-model="$parent.confirmPassword">
                <label for="password_up_confirm">Confirm password</label>
            </div>
            <div class="col s12">
                <span class="waves-effect submit blue darken-3 waves-light btn col s12" @click="register">Create Account</span>
            </div>

        </div>
    </form>
</template>

<script>
    import Auth from '../../../../auth'

    export default{
        data(){
            return{
            }
        },
        methods: {
            register() {
                Auth.signup({
                    'name': this.$parent.name,
                    'email': this.$parent.email,
                    'password': this.$parent.password
                })
            }
        },
        components:{}
    }
</script>