<template>
    <div class="container">
        <h2 class="grey-text text-darken-4 center-align">Wishlist</h2>
        <div class="filter_lots row">
            <form class="form_products_filter">
                <input  type="hidden" v-if="products" name="page" v-model="products.current_page">
                <filter></filter>
            </form>
        </div>
        <list-products :products="products"></list-products>
    </div>
</template>

<script>
    import ListProducts from '../../../components/list-products/list-products.vue'
    import Mixins from '../../../mixins/mixins.vue'
    import Filter from './filter/filter.vue'

    export default{
        data() {
            return {
                products: {}
            }
        },
        mixins: [Mixins],
        methods: {
            getProducts() {
                var params = $('.form_products_filter').serializeJSON();
                this.$http.get('wishroom', params).then((response) => {
                    this.products = response.data.data.products;
                    initStyleElements();
                }, (err) => {
                    console.log(err);
                });
            },
        },
        components: { ListProducts, Filter },
        created() {
            var self = this;

            this.$nextTick(() => {
                self.getProducts();
            });

            $(document).on('change', '.form_products_filter', function(e) {
                self.$set('data.products.current_page', 1);
                self.$nextTick(() => {
                    self.getProducts();
                });
            });
        }
    }
</script>