<template>
    <a v-link="{ path: '/cart' }"class="col s3 green accent-4  btn right cart">
        <i class="material-icons left">shopping_cart</i>Cart
		<span class="count_cloud"><i class="material-icons blue-text">cloud</i><b>{{ cart.count }}</b></span>
	</a>
</template>

<script>
    import { cart } from '../../vuex/getters'
    import { updateCart } from '../../vuex/actions'
    export default{
        data() {
            return {
            }
        },
        vuex: {
            getters: {
                cart: cart
            },
            actions: {
                updateCart
            }
        },
        methods: {
            getCart() {
                this.$http.get('cart/content').then((response) => {
                    this.updateCart(response.data.data.cart)
                }, (err) => {
                    console.log(err)
                })
            }
        },
        ready() {
            this.getCart()
        }
    }
</script>