<template>
    <div class="catalogs scroll_header off">
        <header>
            <div class="container">
                <div class="row">
                    <div class="top_header">
                        <div class="logo col s4">
                            <a href="#">
                                <img src="/img/logo.png" height="37" width="214" alt=""logo>
                            </a>
                        </div>
                        <div class=" search col s4">
                            <search></search>
                        </div>
                        <div class="col s4 profile">
                            <notifications v-if="user"></notifications>
                            <cart-header></cart-header>
                            <auth></auth>
                        </div>
                    </div>
                </div>
                <menu></menu>
            </div>
        </header>
    </div>
</template>

<script>
    import CartHeader from '../../components/header/cart-header.vue'
    import Auth from '../../components/header/auth/auth.vue'
    import Search from '../../components/header/search.vue'
    import Notifications from './notifications/index.vue'
    import Menu from '../../components/header/menu.vue'
    import AuthService from '../../auth'

    export default{
        name: 'Header',
        data() {
            return {
                user: AuthService.getCurrentUser()
            }
        },
        components:{CartHeader, Auth, Menu, Notifications, Search}
    }
</script>
