<template>
    <nav class="menu" >
        <ul>
            <li v-for="category in categories" class="color_{{ category.alias }}">
                <a class="nav_link" v-link="{ path: '/' + category.alias, activeClass: 'active_nav' }">
                    <i class=" icon icon-{{ category.alias }}"></i>{{ category.title }}
                </a>
            </li>
        </ul>
    </nav>
</template>
<style>

</style>
<script>
    export default{
        data() {
            return {
                categories: [
                    {
                        alias: 'music',
                        title: 'Music'
                    },
                    {
                        alias: 'audiobooks',
                        title: 'Audiobooks'
                    },
                    {
                        alias: 'ebooks',
                        title: 'E-books'
                    },
                    {
                        alias: 'photo',
                        title: 'Photo'
                    },
                    {
                        alias: 'graphics',
                        title: 'Graphics'
                    },
                    {
                        alias: 'libraries',
                        title: 'Libraries'
                    },
                    {
                        alias: 'templates',
                        title: 'Templates'
                    },
                    {
                        alias: 'video',
                        title: 'Video'
                    },
                ]
            }
        },
    }
</script>