<template>
    <div class="search-wrapper card">
        <input id="search" class="search-modal-trigger" href="#search-modal"><i class="material-icons search-modal-trigger" href="#search-modal">search</i>
        <div class="search-results"></div>
    </div>
    <div id="search-modal" class=" modal search-modal">
        <div class="container">
            <div class="row">
                <div class="input-field col s12">
                    <input id="search_input" type="text" v-model="query">
                    <label for="search_input">Search</label>
                </div> 
                <div class="modal-action modal-close material-icons right">add</div> 
            </div>
            <div class="row">
                <h4>Categories - 24 founds</h4>
                <div class="col s3">
                    <div class="title color_music"><i class=" icon icon-music"></i>Music<span>{{ results.products.hits.total }} results</span></div>
                    <ul>
                        <li v-for="item in results.products.hits.hits"><a href="#">{{ item._source.title }}
                            <span class="right">{{ item._source.price > 0 ? '$'+item._source.price : 'Free' }}</span>
                        </a></li>
                    </ul>
                    <a href="" class="show_all right">Show All <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="col s3">
                    <div class="title color_audiobooks"><i class=" icon icon-audiobooks"></i>Audiobooks<span>8 result</span></div>
                    <ul>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                    </ul>
                    <a href="" class="show_all right">Show All <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="col s3">
                    <div class="title color_ebooks"><i class="icon icon-e-books"></i>E-books<span>8 result</span></div>
                    <ul>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                    </ul>
                    <a href="" class="show_all right">Show All <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="col s3">
                    <div class="title color_photo "><i class="icon icon-photo"></i>Photo<span>8 result</span></div>
                    <ul>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">Free</span></a></li>
                        <li><a href="#">02 Jason - I'm Not The Only One<span class="right">$4</span></a></li>
                        <li><a href="#">02 Mason  - Willing down copy<span class="right">$4</span></a></li>
                    </ul>
                    <a href="" class="show_all right">Show All <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="col s3">
                    <div class="title color_graphics"><i class="icon icon-graphics"></i>Graphics<span>8 result</span></div>
                    <ul>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">Free</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">02 Jason - I'm Not The Only One<span class="right">$4</span></a></li> 
                    </ul>
                    <a href="" class="show_all right">Show All <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="col s3">
                    <div class="title color_libraries"><i class="icon icon-libraries"></i>Libraries<span>8 result</span></div>
                    <ul>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                    </ul>
                    <a href="" class="show_all right">Show All <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="col s3">
                    <div class="title color_templates"><i class="icon icon-templates"></i>Templates<span>no matches</span></div>
                    <ul>
                    </ul>
                    <a href="" class="show_all right">Show All <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="col s3">
                    <div class="title color_effects"><i class="icon icon-effects"></i>Effects<span>8 result</span></div>
                    <ul>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
    
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                        <li><a href="#">Gordon Gekko - 02 Stay With Me<span class="right">$4</span></a></li>
                    </ul>
                    <a href="" class="show_all right">Show All <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="row">
                <h4>Brandrooms - {{ results.brandrooms.hits.hits.length }} found <a class="show_all" @click="closeModal" href="#">ALL</a></h4>
                <div class="founded_storage valign-wrapper">
                    <a v-link="{name:'brandroom', params: {brandroom: brandroom._source.alias}}" @click="closeModal" class="col" v-for="brandroom in results.brandrooms.hits.hits">
                        <div class="center-align"><img :src="brandroom._source.logo" alt="brandroom._source.title"></div>
                        <p class="name center-align">{{ brandroom._source.title }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<style>

</style>
<script>
    export default{
        data() {
            return {
                results: {
                    products: {},
                    brandrooms: {
                        hits: {
                            hits: []
                        }
                    },
                },
                query: null,
                last_query: null
            }
        },
        watch: {
            'query': function(val){
                // let now = ~ new Date();
                // if(this.last_query){
                //     clearInterval(this.last_query);
                //     this.last_query = setTimeout(() => this.searchQuery(val), 500);
                //     return;
                // }
                // this.last_query = setTimeout(() => this.searchQuery(val), 500);
                this.searchQuery(val);
            }
        },
        methods: {
            searchQuery(val){
                if(val.length < 4)
                    return;
                socket.emit('main-search',val);
                // spinner(true);
                // this.$http.get(`search/${val}`).then((response) => {
                //     // this.$set('brandroom', response.data.data);
                //     this.results.brandrooms = response.data.data.brandrooms;
                //     console.log(response.data.data.brandrooms);
                //     spinner(false);
                // }, (err) => {
                //     console.log(err);
                //     this.$route.router.redirect(404);
                // });
                
            },
            closeModal(){
                $('#search-modal').closeModal();
            }
        },
        ready(){
            $('.search-modal-trigger').leanModal({
                ready() { $('#search_input').focus(); }
            });
            socket.on('brandroom-results', res => this.results.brandrooms = res);
            socket.on('product-results', res => this.results.products = res);
        }
    }
</script>